{% extends "account/base.html" %}
{% load i18n %}

{% block htitle %}SPARCS SSO {% trans "Login" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h1>SPARCS SSO {% trans "Login" %}</h1>
<p>{% trans "Welcome to SPARCS SSO!" %}</p>

<form class="form-horizontal" action="/account/login/" method="post">
    <fieldset>
        {% csrf_token %}
        <div class="row">
            {% if notice %}
            <div class="col-xs-offset-1 col-xs-10 alert alert-warning">
                <strong>{{ notice.title }}</strong> {% autoescape off %}{{ notice.text }}{% endautoescape %}
            </div>
            {% endif %}
        </div>

        {% if service %}
        <div class="row">
            <p>{{ service }}를 사용하기 위해서는 SPARCS SSO 계정이 필요합니다.</p>
            <p><a href="/help/">도움말</a> 페이지에서 더 자세한 정보를 확인할 수 있습니다.</p>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-6 col-md-offset-1 col-md-5">
                <h4>{% trans "Login / Signup with Email" %}</h4>
                {% if fail %}
                <div class="form-group">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12">
                        <div class="alert alert-danger">
                            <b>{% trans "Invalid email / password" %}</b>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12">
                        <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12">
                        <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
                        <a class="btn btn-warning" href="/account/signup/">{% trans "Sign Up" %}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5">
                <h4>{% trans "Login / Signup with Social Accounts" %}</h4>
                <p>
                <a class="social-icon" href="/account/login/fb/"><img src="/static/img/fb.png" alt="Facebook Login"></a> &nbsp; &nbsp; &nbsp;
                    <a class="social-icon" href="/account/login/tw/"><img src="/static/img/tw.png" alt="Twitter Login"></a> &nbsp; &nbsp; &nbsp;
                    <a class="social-icon" href="/account/login/kaist/"><img src="/static/img/kaist.png" alt="KAIST SSO Login"></a>
                </p>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}

