{% extends "account/base.html" %}
{% load i18n %}

{% block htitle %}SPARCS SSO {% trans "Login" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="alert-wrap">
    {% if notice %}
    <div class="alert alert-warning alert-notice">
        <strong>{{ notice.title }}</strong> {% autoescape off %}{{ notice.text }}{% endautoescape %}
    </div>
    {% endif %}
</div>

<h1>SPARCS SSO {% trans "Login" %}</h1>
<p>{% trans "Welcome to SPARCS SSO!" %}</p>


<div class="row login-form">
    <div class="col col-wrap">
    {% if service %}
    <p>{{ service }}를 사용하기 위해서는 SPARCS SSO 계정이 필요합니다.</p>
    {% endif %}

    {% if fail == 1 %}
    <div class="alert alert-danger alert-invalid-account">
        <b>{% trans "Invalid email / password" %}</b>
    </div>
    {% elif fail == 2 %}
    <div class="alert alert-danger alert-invalid-account">
        <b>{% trans "Please grant all requested permission" %}</b>
    </div>
    {% endif %}

    <form class="form-horizontal" action="/account/login/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-xs-12">
                <input type="email" class="form-control" name="email" placeholder="{% trans "Email" %}" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="password" class="form-control" name="password" placeholder="{% trans "Password" %}" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-default btn-block btn-login">{% trans "Email Login" %}</button>
            </div>
            <div class="col-xs-12 login-email-links">
                <a href="/account/signup/">{% trans "Sign Up" %}</a> / <a href="/account/password/reset">{% trans "Reset Password" %}</a>
            </div>
        </div>
    </form>
    <hr/>
    <div class="login-social-wrap">
        <button class="btn btn-default btn-block btn-login btn-kaist {% if not kaist_enabled %}disabled{% endif %}">
            {% trans "KAIST SSO Login / Signup" %}
        </button>
        <button class="btn btn-default btn-block btn-login btn-facebook">
            <img src="/static/img/fb.png" alt="Facebook Logo">{% trans "Facebook Login / Signup" %}
        </button>
        <button class="btn btn-default btn-block btn-login btn-twitter">
            <img src="/static/img/tw-white.png" alt="Twitter Logo">{% trans "Twitter Login / Signup" %}
        </button>
    </div>
</div>

<script>
$(function() {
    $('.btn-kaist').click(function() {
        location.href = '/account/login/kaist/';
    });

    $('.btn-facebook').click(function() {
        location.href = '/account/login/fb/';
    });

    $('.btn-twitter').click(function() {
        location.href = '/account/login/tw/';
    });
});
</script>
{% endblock %}

