{% extends "account/base.html" %}
{% load i18n %}

{% block htitle %}SPARCS SSO {% trans "Point Logs" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h1>{% trans "Point Logs" %}</h1>
<p>{% trans "You can see your current SPARCS points, and the points log up to recent 20." %}</p>
<h3>{% trans "Current Point" %}: {{user.profile.point}}</h3>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center">Time</th>
                <th class="text-center">Service</th>
                <th>Action</th>
                <th class="text-right">Delta</th>
                <th class="text-right">Point</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr class="{% if log.delta > 0 %}success{% else %}warning{% endif %}">
                <td>{{log.time|date:'Y-m-d H:i:s'}}</td>
                <td>{{log.service.alias}}</td>
                <td class="text-left">{{log.action}}</td>
                <td class="text-right">{{log.delta}}</td>
                <td class="text-right">{{log.point}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
