{% extends "account/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block htitle %}{% trans "SPARCS SSO Profile" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h1>{% trans "Profile &amp; Social Network Accounts" %}</h1>
<p>{% trans "You can change your information or connect/disconnect social accounts." %}</p>
<p>{% trans "Changed information may not be applied in other SPARCS services." %}</p>
<form id="profile" class="form-horizontal" action="/account/profile/" method="post" enctype="multipart/form-data">
    <fieldset>
        {% if success %}
		<div class="form-group">
			<div class="col-xs-12">
               <div class="alert alert-success">
                   <b>{% trans "Your information has been updated." %}</b>
                </div>
			</div>
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label class="col-xs-2 control-label">{% trans "Email" %} <span class="required"></span></label>
			<div class="col-xs-8">
				<input type="email" class="form-control" name="email" value="{{user.email}}" disabled>
            </div>
        </div>
		<input type="hidden" name="password" value="qwerty1234">
		<div class="form-group">
            <label class="col-xs-2 control-label">{% trans "Name" %} <span class="required"></span></label>
			<div class="form-group col-xs-5">
				<input type="text" class="form-control" name="first_name" placeholder="First Name" required="required" maxlength="30" value="{{user.first_name}}">
			</div>
			<div class="form-group col-xs-3">
				<input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required" maxlength="30" value="{{user.last_name}}">
			</div>
		</div>
		<div class="form-group">
            <label class="col-xs-2 control-label">{% trans "Gender, Birthday" %}</label>
			<div class="form-group col-xs-3">
				<select class="form-control" name="gender">
                    <option value="E">{% trans "etc" %}</option>
                    <option value="M">{% trans "Male" %}</option>
                    <option value="F">{% trans "Female" %}</option>
				</select>
			</div>
			<div class="form-group col-xs-5">
				<input type="text" class="form-control" name="birthday" placeholder="Birthday (YYYY-MM-DD)" data-vbirth="vbirth" value="{{profile.birthday|date:'Y-m-d'}}">
			</div>
		</div>
        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary">{% trans "Modify" %}</button>
                <a class="btn btn-default" href="javascript:window.history.go(-1)">{% trans "Go Back" %}</a>
            </div>
		</div>
    </fieldset>
</form>

<h3>{% trans "Social Accounts" %}</h3>
{% if not profile.kaist_id %}
<p class="text-info">{% trans "You should connect to KAIST SSO if you want to verify your identity as a KAIST member." %}</p>
<p class="text-danger">{% trans "You CANNOT DISCONNECT KAIST SSO from SPARCS SSO once you connect." %}</p>
{% endif %}
{% if result_con != -1 %}
<div class="col-xs-offset-3 col-xs-6" style="padding-bottom:15px">
    {% if result_con == 0 %}
    <div class="alert alert-success">
        <b>{% trans "Your social network account has been connected." %}</b>
    </div>
    {% elif result_con == 1 %}
    <div class="alert alert-danger">
        <b>{% trans "This social network account is already connected by other person." %}</b>
    </div>
    {% elif result_con == 5 %}
    <div class="alert alert-success">
        <b>{% trans "Your social network account has been disconnected." %}</b>
    </div>
    {% endif %}
</div>
{% endif %}

<div class="row">
	<div class="col-xs-offset-2 col-xs-3 social-panel">
		<div class="social-icon">
			<img class="{% if not profile.facebook_id %}disabled{% endif %}" src="{% static "img/fb.png" %}" alt="Facebook">
		</div>
		{% if not profile.facebook_id %}
		<form class="social-form" action="/account/connect/fb/" method="post">
			{% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans "Connect" %}</button>
		</form>
		{% else %}
		<form class="social-form" action="/account/disconnect/fb/" method="post">
			{% csrf_token %}
            <button type="submit" class="btn btn-danger">{% trans "Disconnect" %}</button>
		</form>
		{% endif %}
	</div>
	<div class="col-xs-2 social-panel">
		<div class="social-icon">
			<img class="{% if not profile.twitter_id %}disabled{% endif %}" src="{% static "img/tw.png" %}" alt="Twitter">
		</div>
		{% if not profile.twitter_id %}
		<form class="social-form" action="/account/connect/tw/" method="post">
			{% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans "Connect" %}</button>
		</form>
		{% else %}
		<form class="social-form" action="/account/disconnect/tw/" method="post">
			{% csrf_token %}
            <button type="submit" class="btn btn-danger">{% trans "Disconnect" %}</button>
		</form>
		{% endif %}
	</div>
	<div class="col-xs-3 social-panel">
		<div class="social-icon">
			<img class="{% if not profile.kaist_id %}disabled{% endif %}" src="{% static "img/kaist.png" %}" alt="KAIST">
		</div>
		{% if not profile.kaist_id %}
		<form class="social-form" action="/account/connect/kaist/" method="post">
			{% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans "Connect" %}</button>
		</form>
		{% else %}
		<form class="social-form" action="" method="post">
            <button type="submit" class="btn btn-danger" disabled>{% trans "Disconnect" %}</button>
		</form>
		{% endif %}
	</div>
</div>

<script type="text/javascript">
$(function() {
	$("select[name=gender]").val('{{profile.gender}}');
	var option = {
		disable: true,
		custom: {
			vbirth: function(el) { var re = /^\d{4}-\d{2}-\d{2}$/; return el.val().trim() == '' || re.test(el.val()); }
		},
		errors: {
			vbirth: "Format should be YYYY-MM-DD"
		}
	};
	$('#profile').validator(option);
	
	$("input[name=birthday]").datepicker({
		dateFormat: "yy-mm-dd"	
	});
});
</script>
{% endblock %}

