{% extends "account/base.html" %}
{% load i18n %}

{% block htitle %}SPARCS SSO {% trans "Change Password" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h1>{% trans "Change Password" %}</h1>
<p>{% trans "You need to login again if you changed your password." %}</p>
<form id="changepw" class="form-horizontal" action="/account/password/change/" method="post">
    <fieldset>
        {% if fail %}
        <div class="form-group">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
                <div class="alert alert-danger">
                    <b>{% trans "WRONG current password!" %}</b>
                </div>
            </div>
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label">{% trans "Current Password" %} <span class="required"></span></label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-8">
                <input type="password" class="form-control" name="oldpassword" placeholder="CuRREnT pAss0wd" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{% trans "New Password" %} <span class="required"></span></label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-8">
                <input type="password" class="form-control" name="password" placeholder="pAss0wd!" id="password" required="required" maxlength="50" data-minlength="7">
                <span class="help-block">{% trans "Password must be at least 7 characters" %}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{% trans "Type Again" %} <span class="required"></span></label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-8">
                <input type="password" class="form-control" name="password2" placeholder="pAss0wd!" data-match="#password" data-match-error="Not match!" required="required" maxlength="50">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-warning">{% trans "Change Password" %}</button>
            </div>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
$(function() {
    var option = { disable: true };
    $('#changepw').validator(option);
});
</script>
{% endblock %}

