{% extends "account/base.html" %}

{% block htitle %}SPARCS SSO Reauth{% endblock %}

{% block header %}{%endblock %}

{% block content %}
<h1>SPARCS SSO</h1>
<p>SPARCS 통합 인증을 사용하기 위해서는 이메일 인증이 필요합니다. 인증 이메일을 다시 받으시겠습니까? 이 경우, 기존에 발송한 이메일로는 인증할 수 없습니다. </p>
<form class="form-horizontal" action="/account/auth/email/" method="post">
    <fieldset>
        {% csrf_token %}
        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary">Resend the E-mail</button>
                <a class="btn btn-warning" href="/account/login/">Login Page</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
