{% extends "account/base.html" %}
{% load i18n %}

{% block htitle %}SPARCS SSO {% trans "Manage Service" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h1>{% trans "Manage Service" %}</h1>
<p>{% trans "You can see and unregister services that you use." %}</p>
<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        {% if removed %}
        <div class="alert alert-success">
            <b>{% trans "Successfully unregistered the service." %}</b>
        </div>
        {% endif %}
    </div>
</div>
<div class="service-row">
    {% for m in maps %}
    <div class="service">
        <a href="{{m.service.main_url}}"><img src="{{m.service.icon.url}}" alt="{{m.service.name}}"></a>
        <p>{{m.service.alias}}</p>
        <p class="date">{% blocktrans with time=m.register_time|date:'Y-m-d' %}from {{time}}{% endblocktrans %}</p>
        <a class="btn btn-xs btn-danger" href="{{m.service.unregister_url}}">{% trans "Unregister" %}</a>
    </div>
    {% empty %}
    <p class="text-info">{% trans "There are no services to show." %}</p>
    {% endfor %}
</div>
{% endblock %}

