{% extends "account/base.html" %}
{% load i18n %}

{% load staticfiles %}
{% block htitle %}{% trans "SPARCS SSO Email Authenticate" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h1>{% trans "Email Authenticate Fail" %}</h1>
<p class="text-danger">{% trans "Failed to authenticate your email, because you entered wrong or expired token id." %}</p>
<a class="btn btn-primary" href="/account/login/">{% trans "Login Page" %}</a>
<a class="btn btn-default" href="/">{% trans "Main Page" %}</a>
{% endblock %}
