{% extends "account/base.html" %}
{% load i18n %}

{% block htitle %}{% trans "SPARCS SSO Email Authorization Require" %}{% endblock %}

{% block header %}{%endblock %}

{% block content %}
<h1>{% trans "Email Authorization Required" %}</h1>
<p>{% blocktrans %}You need to authorize your email to login. Please check your email account: {{email}}.{% endblocktrans %}</p>
<p>{% trans "If you want to resend the authorization email, click the button below." %}</p>
<p>{% trans "We will expire the previous link and send a new email." %}</p>
<form class="form-horizontal" action="/account/auth/email/" method="post">
    <fieldset>
        {% csrf_token %}
        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-warning">{% trans "Resend Email" %}</button>
                <a class="btn btn-default" href="/account/login/">{% trans "Login Page" %}</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
