{% extends "account/base.html" %}
{% load i18n %}

{% block htitle %}SPARCS SSO {% trans "Login" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="alert-wrap">
  {% if notice %}
  <div class="alert alert-warning">
    <strong>{{ notice.title }}</strong> {% autoescape off %}{{ notice.text }}{% endautoescape %}
  </div>
  {% endif %}
</div>

<div class="wrap-content-xs">
  <h1>{% trans "Login" %}</h1>

  {% if not service %}
  <p>{% trans "Welcome to SPARCS SSO!" %}</p>
  {% else %}
  <p>{% blocktrans %}You need to login using SPARCS SSO account to use {{ service }} service.{% endblocktrans %}</p>
  {% endif %}

  {% if fail == 1 %}
  <div class="alert alert-danger alert-invalid-account">
    <b>{% trans "Invalid email / password" %}</b>
  </div>
  {% elif fail == 2 %}
  <div class="alert alert-danger alert-invalid-account">
    <b>{% trans "Please grant all requested permission" %}</b>
  </div>
  {% endif %}

  <form class="row" action="/account/login/" method="post">
    {% csrf_token %}
    <div class="form-group col-xs-12">
      <input type="email" class="form-control" name="email" placeholder="{% trans "Email" %}" required="required">
    </div>
    <div class="form-group col-xs-12">
      <input type="password" class="form-control" name="password" placeholder="{% trans "Password" %}" required="required">
    </div>
    <div class="form-group col-xs-12">
      <button type="submit" class="btn btn-default btn-block btn-login">{% trans "Email Login" %}</button>
      <div class="login-extra-links">
        <a href="/account/signup/">{% trans "Sign Up" %}</a> /
        <a href="/account/password/reset">{% trans "Reset Password" %}</a>
        {% if show_internal %}
          / <a href="/account/login/internal/">{% trans "Internal Login" %}</a>
        {% endif %}
      </div>
    </div>
  </form>

  <hr/>

  <div class="login-social-wrap">
    <button id="login-social-kaist-v1" class="btn btn-login btn-block btn-kaist" {% if not kaist_enabled %}disabled{% endif %}>
      {% trans "KAIST SSO Login / Signup" %}
    </button>
    <button id="login-social-kaist-v2" class="btn btn-login btn-block btn-kaist" {% if not kaist_v2_enabled %}disabled{% endif %}>
      {% trans "KAIST SSO Login / Signup (V2)" %}
    </button>
    {% if social_enabled %}
    <button class="btn btn-login btn-block btn-facebook">
      <img src="/static/img/fb.png" alt="Facebook Logo">{% trans "Facebook Login / Signup" %}
    </button>
    <button class="btn btn-login btn-block btn-twitter">
      <img src="/static/img/tw-white.png" alt="Twitter Logo">{% trans "Twitter Login / Signup" %}
    </button>
    {% else %}
      {% if show_disabled_button %}
      <button class="btn btn-login btn-block btn-disabled">
        {% trans "Social Login N/A for" %} {{ app_name }}
      </button>
      {% endif %}
    {% endif %}
    <div style="height: 10px"></div>
  </div>
</div>

<script>
$(function() {
  $('#login-social-kaist-v1').click(function() {
    authLogin("kaist");
  });

  $('#login-social-kaist-v2').click(function() {
    authLogin("kaist-v2");
  });

  $('.btn-facebook').click(function() {
    authLogin('fb');
  });

  $('.btn-twitter').click(function() {
    authLogin('tw');
  });
});
</script>
{% endblock %}
