{% extends "account/base.html" %}
{% load i18n %}

{% block htitle %}SPARCS SSO {% trans "Login" %}{% endblock %}

{% block header %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
<div class="alert-wrap">
  {% if notice %}
  <div class="alert alert-warning">
    <strong>{{ notice.title }}</strong> {% autoescape off %}{{ notice.text }}{% endautoescape %}
  </div>
  {% endif %}
</div>

<div class="wrap-content-xs">
  <h1>{% trans "Login" %}</h1>

  {% if not service %}
  <p>{% trans "Welcome to SPARCS SSO!" %}</p>
  {% else %}
  <p>{% blocktrans %}You need to login using SPARCS SSO account to use {{ service }} service.{% endblocktrans %}</p>
  {% endif %}

  {% if fail == 1 %}
  <div class="alert alert-danger alert-invalid-account">
    <b>{% trans "Invalid email / password" %}</b>
  </div>
  {% elif fail == 2 %}
  <div class="alert alert-danger alert-invalid-account">
    <b>{% trans "Please grant all requested permission" %}</b>
  </div>
  {% elif fail == 3 %}
  <div class="alert alert-danger alert-invalid-account">
    <b>{% trans "Please fill out the item 'I'm not a robot'" %}</b>
  </div>
  {% endif %}

  <form id="login" class="row" action="/account/login/" method="post">
    {% csrf_token %}
    <div class="form-group col-xs-12">
      <input type="email" class="form-control" name="email" placeholder="{% trans "Email" %}" required="required">
    </div>
    <div class="form-group col-xs-12">
      <input type="password" class="form-control" name="password" placeholder="{% trans "Password" %}" required="required">
    </div>
    {% if recaptcha_sitekey %}
    <div class="form-group col-xs-12">
      <input id="recaptcha-validate" type="hidden" data-validate="true" required="required">
      <div class="g-recaptcha"
           style="display:inline-block"
           data-sitekey="{{ recaptcha_sitekey }}"
           data-callback="captchaSubmit">
      </div>
    </div>
    {% endif %}
    <div class="form-group col-xs-12">
      <button type="submit" class="btn btn-default btn-block btn-login">{% trans "Email Login" %}</button>
      <div class="login-extra-links">
        <a href="/account/signup/">{% trans "Sign Up" %}</a> /
        <a href="/account/password/reset">{% trans "Reset Password" %}</a>
        {% if show_internal %}
          / <a href="/account/login/internal/">{% trans "Internal Login" %}</a>
        {% endif %}
      </div>
    </div>
  </form>

  <hr/>

  <div class="login-social-wrap">
    <button class="btn btn-login btn-block btn-kaist" {% if not kaist_enabled %}disabled{% endif %}>
      {% trans "KAIST SSO Login / Signup" %}
    </button>
    <button class="btn btn-login btn-block btn-facebook">
      <img src="/static/img/fb.png" alt="Facebook Logo">{% trans "Facebook Login / Signup" %}
    </button>
    <button class="btn btn-login btn-block btn-twitter">
      <img src="/static/img/tw-white.png" alt="Twitter Logo">{% trans "Twitter Login / Signup" %}
    </button>
  </div>
</div>

<script>
if (!'{{ recaptcha_sitekey }}') {
  $('#recaptcha-validate').val('true');
}
// eslint-disable-next-line no-unused-vars
var captchaSubmit = function() {
  $('#recaptcha-validate').val('true');
  $('#login').validator('validate');
};

$(function() {
  var login = function(type) {
    var form = $(document.createElement('form')).attr({
      method: 'post',
      action: '/account/login/' + type + '/',
    });
    $(document.createElement('input')).attr({
      type: 'hidden',
      name: 'csrfmiddlewaretoken',
      value: '{{ csrf_token }}',
    }).appendTo(form);
    form.appendTo(document.body).submit();
  };

  $('.btn-kaist').click(function() {
    login('kaist');
  });

  $('.btn-facebook').click(function() {
    login('fb');
  });

  $('.btn-twitter').click(function() {
    login('tw');
  });

  $('#login').validator();
});
</script>
{% endblock %}
