# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Translations
*.mo

# Django stuff
*.log
migrations/

# SQLite Database File
*.sqlite3

# Media Files
media/

# VIM Swap Files
*.sw[op]

# Local Settings
local_settings.py

# Virtual Environment
venv/

# SPARCS SSO Test Server
client/run

# SPARCS SSO Letters
letters/

# Cold Archive
archive/
