version: '3'
services:
    sparcssso:
        build: '.'
        restart: always
        depends_on:
            - db
        volumes:
            - './sparcssso/local_settings.py:/usr/app/sparcssso/sparcssso/local_settings.py:ro'
        environment:
            - 'SSO_DB_NAME=sparcssso'
            - 'SSO_DB_USER=root'
            - 'SSO_DB_PASSWORD=unsafe-password'
            - 'SSO_DB_HOST=db'
            - 'SSO_DB_PORT=3306'
        networks:
            sparcssso:
                aliases:
                    - sparcssso

    nginx:
        build: './nginx'
        restart: always
        ports:
            - '80:80'
        depends_on:
            - sparcssso
        networks:
            - sparcssso

    db:
        image: 'mysql:5.7'
        restart: always
        environment:
            - 'MYSQL_DATABASE=sparcssso'
            - 'MYSQL_ROOT_PASSWORD=unsafe-password'
        command:
            - '--character-set-server=utf8mb4'
            - '--collation-server=utf8mb4_unicode_ci'
        volumes:
            - 'sparcssso_db:/var/lib/mysql'
        networks:
            sparcssso:
                aliases:
                    - db

networks:
    sparcssso:

volumes:
    sparcssso_db:
