Django==1.10
MySQL-python==1.2.5
Pillow==2.8.2
argparse==1.2.1
beautifulsoup4==4.4.1
bs4==0.0.1
defusedxml==0.4.1
distribute==0.6.24
docutils==0.12
flake8==2.5.1
httplib2==0.9.1
jsonpickle==0.9.2
mccabe==0.3.1
netaddr==0.7.18
oauth2==1.5.211
pep8==1.7.0
pyflakes==1.0.0
requests==2.9.1
wsgiref==0.1.2
wstools==0.4.3
