Django==1.11
flake8==3.2.1
httplib2==0.10.3
mccabe==0.5.3
mysqlclient==1.3.9
netaddr==0.7.19
oauth2==1.9.0.post1
olefile==0.44
Pillow==4.0.0
pycodestyle==2.2.0
pyflakes==1.3.0
pytz==2017.2
requests==2.13.0
