{% extends "oauth/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block htitle %}{% trans "SPARCS SSO Manage Service" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h1>{% trans "Manage Service" %}</h1>
<p>{% trans "You can see and unregister services that you use." %}</p>
<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        {% if result_unreg == 1 %}
        <div class="alert alert-danger">
            <b>{% trans "Fail to unregister service. Try again." %}</b>
        </div>
        {% elif result_unreg == 0 %}
        <div class="alert alert-success">
            <b>{% trans "Successfully unregistered the service." %}</b>
        </div>
        {% endif %}
    </div>
</div>
<div class="service-row">
    {% for m in maps %}
    <div class="service">
        <a href="{{m.service.url}}"><img src="{{m.service.icon.url}}" alt="{{m.service.name}}"></a>
        <p>{{m.service.alias}}</p>
        <p class="date">{% blocktrans %}from {{m.register_time|date:'Y-m-d'}}{% endblocktrans %}</p>
        <button class="btn btn-xs btn-danger unreg" data-app="{{m.service.name}}" data-alias="{{m.service.alias}}" data-cooltime="{{m.service.cooltime}}">{% trans "Unregister" %}</button>
    </div>
    {% empty %}
    <p class="text-info">{% trans "There are no services to show." %}</p>
    {% endfor %}
</div>

<div class="modal fade" id="unregister">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">{% trans "Unregister" %} <span class="app-alias"></span></h4>
            </div>
            <div class="modal-body">
                <p><b>{% trans "Warning!" %}</b> {% trans "You are trying to unregister the service" %} <span class="app-alias"></span>. {% trans "You will permantly lose access to your previous data, and you CANNOT use this service again for" %} <span class="app-cooltime"></span> {% trans "days" %}{</p>
                <p class="text-danger">{% trans "If you understand all information above, copy the word:" %} <span class="random"></span></p>
                <input type="text" class="form-control check"></input>
            </div>
            <div class="modal-footer">
                <form action="/oauth/unregister/" method="post" style="margin-top:0"> 
                    {% csrf_token %}
                    <input type="hidden" name="app" value=""/>
                    <input type="submit" class="btn btn-danger" value="UNREGISTER" disabled>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function randomstr() {
        var text = "";
        var pool = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";

        for(var i=0; i < 6; i++ )
            text += pool.charAt(Math.floor(Math.random() * pool.length));
        return text;
    }
    
    var checkstr = "";
    $(".unreg").click(function() {
        checkstr = randomstr();
        $("#unregister").find(".app-alias").text($(this).data("alias"));
        $("#unregister").find(".app-cooltime").text($(this).data("cooltime"));
        $("#unregister .random").text(checkstr);
        $("#unregister input[name=app]").val($(this).data("app"));
        $("#unregister").modal("show");
    });

    $(".check").keyup(function() {
        $("#unregister input[type=submit]").prop("disabled", checkstr != $(this).val());
    });
</script>
{% endblock %}

