body {
    font-family:'맑은 고딕', 'Malgun Gothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width:860px;
    text-align:center;
}

.alert {
    margin-bottom:0;
    padding:7px 5px;
}

p {
    font-size:16px;
    margin-bottom:5px;
}

.help-block {
    float:left;
    font-size:14px;
    margin-bottom:0px;
}

.help-block > ul {
    margin-bottom:0px;
}

.form-group > .form-group {
    margin-left:0px;
    margin-right:0px;
}

.has-error .control-label {
    color:black;
}

span.required {
    color: red;
    font-size:12px;
}
span.required:before {
    content: "*";
}

img.profile {
    height:200px;
    width:auto;
    float:left;
}

.login-icon > img {
    width:83px;
    height:83px;
}
