body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width:860px;
    text-align:center;
}

h1 {
    margin:15px 0 10px;
    font-size:48px;
    font-weight:500;
}

p.err-code {
    margin:3px 0 10px;
    font-size:14px;
    color:#999999;
}

