body {
    font-family:'맑은 고딕', 'Malgun Gothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width:970px;
    text-align:center;
}

.alert {
    margin-bottom:0;
    padding:7px 5px;
}

.alert-main {
    margin-bottom:20px;
    padding:15px;
}

p {
    font-size:16px;
    margin-bottom:5px;
}

form {
    margin-top:20px;
}

.form-horizontal .control-label {
    padding-top:7px;
    margin-bottom:0;
    text-align:right;
}

.help-block {
    float:left;
    font-size:14px;
    margin-bottom:0px;
}

.help-block > ul {
    margin-bottom:0px;
}

.form-group > .form-group {
    margin-left:0px;
    margin-right:0px;
}

.has-error .control-label {
    color:black;
}

.media-heading {
    margin-bottom:10px;
}

span.required {
    color: red;
    font-size:12px;
}
span.required:before {
    content: "*";
}

img.profile {
    height:200px;
    width:auto;
    float:left;
}

.social-icon > img {
    width:83px;
    height:83px;
}

.social-icon > img.disabled {
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
}

.credit {
    text-align:left;
}

.credit img {
    width:100px;
    height:100px;
}


.doc {
    text-align:left;
}

.doc li {
    font-size:16px;
}

.doc li ul li {
    font-size:14px;
}

.doc-header {
    margin-top:5px;
    margin-bottom:20px;
}


.jumbotron {
    padding-top:10px;
    padding-bottom:10px;
}

.jumbotron > p {
    margin-bottom:5px;
}

.service-row {
    margin-top:20px;
}

.service {
    width:120px;
    display:inline-block;
}

.service img {
    width:100px;
    height:100px;
    margin-bottom:5px;
}

.service p {
    font-weight:700;
    font-size:20px;
}

.service p.date {
    margin-top:0;
    font-size:12px;
    color:gray;
}

footer {
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #e5e5e5;
}

footer .info a {
    color:#000;
}

footer p {
    font-size:14px;
    margin-bottom:3px;
}
