/* General */
body {
    min-width: 320px;
}

p {
    font-size: 16px;
    margin-bottom: 5px;
}

form {
    margin-top: 10px;
}

form .form-group:last-of-type {
    margin-bottom: 0;
}

hr {
    margin: 7px 0;
}

.input-hidden {
    height: 0;
    padding: 0;
    border: none;
}

.help-block {
    float: left;
    font-size: 14px;
    margin-bottom: 0px;
}

.has-error .control-label {
    color: black;
}


/* Version */
.navbar-default.version-dev .navbar-brand {
    color: #e74c3c;
}

.navbar-default.version-dev .navbar-brand:after {
    font-size: 80%;
    content: " (Dev)";
}

.navbar-default.version-beta .navbar-brand {
    color: #f39c12;
}

.navbar-default.version-beta .navbar-brand:after {
    font-size: 80%;
    content: " (Beta)";
}

.version-detail {
    font-size: 70%;
    color: #aaa;
}

.version-detail .version-dev {
    color: #e74c3c;
}

.version-detail .version-beta {
    color: #f39c12;
}


/* Containers */
.container {
    text-align: center;
    word-wrap: break-word;
}

section.container {
    margin-top: -20px;
}

.wrap-content {
    max-width: 767px;
    margin: 0 auto;
}

.wrap-content-sm {
    max-width: 400px;
    margin: 0 auto;
}

.wrap-content-xs {
    max-width: 320px;
    margin: 0 auto;
}


/* Navbar */
nav.navbar.navbar-default {
    border-radius: 0;
}


/* Alerts */
.alert-wrap {
    margin-top: -1px;
}

.alert {
    margin-bottom: 0;
    padding: 7px 5px;
}

.alert-invalid-account {
    margin-top: 10px;
}


/* Login */
.login-extra-links {
    margin-top: 5px;
    text-align: right;
}

.login-extra-links a {
    color: #666;
}

.btn-login {
    height: 50px;
    line-height: 36px;
    padding: 5px 0;
    font-size: 18px;
}

.btn-login > img {
    float: left;
    padding-left: 5px;
    height: 100%;
}

.btn-kaist, .btn-kaist:hover,
.btn-kaist:focus, .btn-kaist:active {
    background-color: rgb(1, 67, 143);
    border-color: rgb(1, 67, 143);
    color: white;
}

.btn-kaist:disabled {
    background-color: gray !important;
    border-color: gray !important;
}

.btn-facebook, .btn-facebook:hover,
.btn-facebook:focus, .btn-facebook:active {
    background-color: rgb(59, 87, 157);
    border-color: rgb(59, 87, 157);
    color: white;
}

.btn-twitter, .btn-twitter:hover,
.btn-twitter:focus, .btn-twitter:active {
    background-color: rgb(0, 172, 238);
    border-color: rgb(0, 172, 238);
    color: white;
}

.btn-disabled, .btn-disabled:hover,
.btn-disabled:focus, .btn-disabled:active {
    background-color: rgba(168, 38, 38, 0.25);
    border-color: rgba(168, 38, 38, 0.25);
    color: #a82626;
    font-weight: 600;
    cursor: not-allowed;
}


/* Profile */
.social-icon img {
    width: 83px;
    height: 83px;
}

.social-icon img.disabled {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.social-form .btn.disabled {
    background-color: gray;
}


/* Credit */
.credit {
    text-align: left;
}

.credit img {
    width: 100px;
    height: 100px;
}

.media-heading {
    margin-top: 3px;
    margin-bottom: 10px;
}


/* Service */
.services-list .service {
    background-color: #f3f3f3;
    padding: 5px;
    text-align: left;
}

.services-list .service img {
    width: 100px;
    height: 100px;
}

.services-list .service .media-body {
    position: relative;
}

.services-list .service .date {
    color: gray;
}

.services-list .service .action {
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 0;
}


/* Documents */
.doc-header {
    margin-top:20px;
    margin-bottom:20px;
}

.doc h2, .doc h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-top: 30px;
}

.doc {
    text-align: left;
}

.doc ol li {
    font-size: 16px;
}

.doc ol ol li {
    font-size: 14px;
}


/* Main */
.jumbotron {
    padding-top:10px;
    padding-bottom:10px;
}

.jumbotron .hidden-xs p {
    margin-bottom:5px;
}

.service-board {
    max-width: 767px;
    margin: 20px auto 0 auto;
}

.service-board .service {
    display: inline-block;
    padding: 0 20px;
}

.service-board .service img {
    width: 100px;
    height: 100px;
}

/* Error */
h1.err-title {
    margin:15px 0 10px;
    font-size:48px;
    font-weight:500;
}

p.err-code {
    margin:3px 0 10px;
    font-size:14px;
    color:#999999;
}


/* Footer */
footer {
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #e5e5e5;
}

footer .info a {
    color:#000;
}

footer p {
    font-size:14px;
    margin-bottom:3px;
}
