/* General */
body {
    min-width: 320px;
}

p {
    font-size: 16px;
    margin-bottom: 5px;
}

form {
    margin-top: 10px;
}

form .form-group:last-of-type {
    margin-bottom: 0;
}

hr {
    margin: 7px 0;
}

.input-hidden {
    height: 0;
    padding: 0;
    border: none;
}

.help-block {
    float: left;
    font-size: 14px;
    margin-bottom: 0px;
}

.has-error .control-label {
    color: black;
}


/* Containers */
.container {
    text-align: center;
    word-wrap: break-word;
}

section.container {
    margin-top: -20px;
}

.wrap-content {
    max-width: 767px;
    margin: 0 auto;
}

.wrap-content-sm {
    max-width: 400px;
    margin: 0 auto;
}

.wrap-content-xs {
    max-width: 320px;
    margin: 0 auto;
}


/* Alerts */
.alert-wrap {
    margin-top: 0;
}

.alert {
    margin-bottom: 0;
    padding: 7px 5px;
}

.alert-invalid-account {
    margin-top: 10px;
}


/* Login */
.login-email-links {
    margin-top: 5px;
    text-align: right;
}

.login-email-links a {
    color: #666;
}

.btn-login {
    height: 50px;
    line-height: 36px;
    padding: 5px 0;
    font-size: 18px;
}

.btn-login > img {
    float: left;
    padding-left: 5px;
    height: 100%;
}

.btn-kaist, .btn-kaist:hover,
.btn-kaist:focus, .btn-kaist:active {
    background-color: rgb(1, 67, 143);
    border-color: rgb(1, 67, 143);
    color: white;
}

.btn-kaist:disabled {
    background-color: gray !important;
    border-color: gray !important;
}

.btn-facebook, .btn-facebook:hover,
.btn-facebook:focus, .btn-facebook:active {
    background-color: rgb(59, 87, 157);
    border-color: rgb(59, 87, 157);
    color: white;
}

.btn-twitter, .btn-twitter:hover,
.btn-twitter:focus, .btn-twitter:active {
    background-color: rgb(0, 172, 238);
    border-color: rgb(0, 172, 238);
    color: white;
}


/* Profile */
.social-icon img {
    width: 83px;
    height: 83px;
}

.social-icon img.disabled {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

.social-form .btn.disabled {
    background-color: gray;
}


/* Credit */
.credit {
    text-align: left;
}

.credit img {
    width: 100px;
    height: 100px;
}

.media-heading {
    margin-top: 3px;
    margin-bottom: 10px;
}


/* Documents */
.doc-header {
    margin-top:20px;
    margin-bottom:20px;
}

.doc h2, .doc h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-top: 30px;
}

.doc {
    text-align: left;
}

.doc ol li {
    font-size: 16px;
}

.doc ol ol li {
    font-size: 14px;
}


/* Main */
.jumbotron {
    padding-top:10px;
    padding-bottom:10px;
}

.jumbotron > p {
    margin-bottom:5px;
}


.service-row {
    margin-top:20px;
}

.service {
    width:150px;
    display:inline-block;
}

.service img {
    width:100px;
    height:100px;
    margin-bottom:5px;
}

.service p {
    font-weight:700;
    font-size:20px;
}

.service p.date {
    margin-top:0;
    font-size:12px;
    color:gray;
}


h1.err-title {
    margin:15px 0 10px;
    font-size:48px;
    font-weight:500;
}

p.err-code {
    margin:3px 0 10px;
    font-size:14px;
    color:#999999;
}


/* Footer */
footer {
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #e5e5e5;
}

footer .info a {
    color:#000;
}

footer p {
    font-size:14px;
    margin-bottom:3px;
}
