h4 {
    margin-top: 20px;
}

#stats-display {
    margin-top: 10px;
}

.chart-body {
    width: 100%;
    height: 400px;
    margin: 20px 0;
}

.chart-body-half {
    display: inline-block;
    float: left;
    width: 50%;
    height: 400px;
    margin: 20px 0;
}

@media (max-width: 767px) {
    .chart-body-half {
        width: 100%;
    }
}
