h4 {
    margin-top: 20px;
}

.chart-body {
    width: 100%;
    height: 400px;
    margin: 20px 0;
}

.chart-body-half {
    display: inline-block;
    float: left;
    width: 50%;
    height: 400px;
    margin: 20px 0;
}

thead {
    text-align: center;
}

th {
    text-align: inherit;
}

@media (max-width: 767px) {
    .chart-body-half {
        width: 100%;
    }

    .kaist-table {
        width: 90%;
        margin: auto;
    }
}
