.chart-header {
    float: left;
    font-weight: 600;
    margin: 10px;
}

.top-panel {
    width: 60%;
    margin: 0 auto;
}

.input-daterange {
    margin-bottom: 20px;
}

.chart-body {
    width: 100%;
    height: 500px;
    margin: 20px 0;
}

.highcharts-credits {
    display: none;
}
