{% extends "base.html" %}
{% load i18n %}

{% load staticfiles %}
{% block gheader %}
<link rel="stylesheet" href="{% static "css/error.css" %}">
{% endblock %}

{% block content %}
<h1>{% block title %} {% endblock %}</h1>
<p class="err-code">HTTP/1.1 {% block code %}{% endblock %}</p>
<ul class="list-unstyled">
    {% block try %}{% endblock %}
</ul>
<p>
<a href="javascript:window.history.go(-1)" class="btn btn-warning">{% trans "Go Back" %}</a> &nbsp;
    <a href="/" class="btn btn-default">{% trans "Main" %}</a>
</p>
{% endblock %}
