{% extends "account/base.html" %}
{% load i18n %}

{% block htitle %}SPARCS SSO {% trans "Password Reset" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h1>{% trans "Password Reset" %}</h1>
<p>{% trans "Please enter a new password." %}</p>
<form id="resetpw" class="form-horizontal" action="/account/password/reset/{{ tokenid }}" method="post">
    <fieldset>
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label">{% trans "New Password" %} <span class="required"></span></label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-8">
                <input type="password" class="form-control" name="password" placeholder="pAss0wd!" id="password" required="required" maxlength="50" data-minlength="7">
                <span class="help-block">{% trans "Password must be at least 7 characters" %}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{% trans "Type Again" %} <span class="required"></span></label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-8">
                <input type="password" class="form-control" name="password2" placeholder="pAss0wd!" data-match="#password" data-match-error="Not match!" required="required" maxlength="50">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-warning">{% trans "Reset Password" %}</button>
                <a class="btn btn-default" href="/account/login/">{% trans "Login Page" %}</a>
            </div>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
$(function() {
    var option = { disable: true };
    $('#resetpw').validator(option);
});
</script>
{% endblock %}

