{% extends "account/base.html" %}
{% load i18n %}

{% block htitle %}SPARCS SSO {% trans "Password Reset" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h1>{% trans "Password Reset" %}</h1>
<p>{% trans "Please input your email address to reset password." %}</p>
<form class="form-horizontal" action="/account/password/reset/" method="post">
    <fieldset>
        {% if fail %}
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-8">
                <div class="alert alert-danger">
                    {% blocktrans %}There are no account using {{email}}{% endblocktrans %}
                </div>
            </div>
        </div>
        {% endif %}

        {% csrf_token %}
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-8">
                <input type="email" class="form-control" name="email" placeholder="Email" required="required" maxlength="30">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-warning">{% trans "Send Email" %}</button>
                <a class="btn btn-default" href="/account/login/">{% trans "Login Page" %}</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}

