{% extends "account/base.html" %}
{% load i18n %}

{% block htitle %}SPARCS SSO {% trans "Password Reset" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="wrap-content-xs">
    <h1>{% trans "Password Reset" %}</h1>
    <p>{% trans "Please input your email address to reset password." %}</p>
    <form class="row" action="/account/password/reset/" method="post">
        {% if fail %}
        <div class="form-group col-xs-12">
            <div class="alert alert-danger">
                {% trans "Please check your email again." %}
            </div>
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group col-xs-12">
            <input type="email" class="form-control" name="email" placeholder="Email" required="required" maxlength="30">
        </div>
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-warning">{% trans "Send Email" %}</button>
            <a class="btn btn-default" href="/account/login/">{% trans "Login Page" %}</a>
        </div>
    </form>
</div>
{% endblock %}
