{% extends "account/base.html" %}
{% load i18n %}

{% block htitle %}SPARCS SSO {% trans "Password Reset" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="wrap-content-xs">
    <h1>{% trans "Email Sent" %}</h1>
    <p>{% trans "Password reset email has been sent. Please check your email account." %}</p>
    <p>{% trans "Redirecting to login page..." %}</p>
</div>
<script>
setTimeout(function() {
    window.location.href="/account/login/";
}, 3000);
</script>
{% endblock %}
