{% extends "account/base.html" %}
{% load i18n %}

{% block htitle %}SPARCS SSO {% trans "Signup" %}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h1>{% trans "Signup" %}
<small> 
    {% if type == 'FB' %}
        {% trans "with Facebook Account" %}
    {% elif type == 'TW' %}
        {% trans "with Twitter Account" %}
    {% elif type == 'KAIST' %}
        {% trans "with KAIST SSO" %}
    {% elif type == 'EMAIL' %}
        {% trans "with Email" %}
    {% endif %}
</small></h1>
{% if type == 'EMAIL' %}
<p>{% trans "Please fill up the following contents." %}</p>
<p>{% trans "You NEED to authenticate your email to login." %}</p>
{% else %}
<p>{% trans "Please fill up the rest of the contents." %}</p>
<p>{% trans "You can ONLY sign in with your social network account UNLESS you authenticate your email." %}</p>
{% endif %}
<form id="signup" class="form-horizontal" action="/account/signup/" method="post" enctype="multipart/form-data">
	<fieldset>
        {% csrf_token %}
        <div class="form-group">
            <label class="col-xs-2 control-label">{% trans "Email" %} <span class="required"></span></label>
			<div class="col-xs-8">
                <input type="email" class="form-control" name="email" placeholder="asdf@example.com" required="required" maxlength="50" data-remote="/api/email/" data-error="{% trans "Not Valid or Duplicated Email" %}" value="{{info.email}}">
                <div class="help-block with-errors"></div>
            </div>
        </div>
		<div class="form-group">
            <label class="col-xs-2 control-label">{% trans "Password" %} <span class="required"></span></label>
			<div class="col-xs-4">
				<input type="password" class="form-control" name="password" placeholder="pAss0wd!" id="password" required="required" maxlength="50" data-minlength="7">
                <span class="help-block">{% trans "Password must be at least 7 characters" %}</span>
			</div>
			<div class="form-group col-xs-4">
				<input type="password" class="form-control" name="password2" placeholder="Re-type password" data-match="#password" data-match-error="Not match!" required="required" maxlength="50">
				<div class="help-block with-errors"></div>
			</div>	
		</div>
		<div class="form-group">
            <label class="col-xs-2 control-label">{% trans "Name" %} <span class="required"></span></label>
			<div class="col-xs-5">
				<input type="text" class="form-control" name="first_name" placeholder="First Name" required="required" maxlength="30" value="{{info.first_name}}">
			</div>
			<div class="col-xs-3">
				<input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required" maxlength="30" value="{{info.last_name}}">
			</div>
		</div>
		<div class="form-group" style="margin-bottom:0">
            <label class="col-xs-2 control-label">{% trans "Gender, Birthday" %}</label>
			<div class="col-xs-3">
				<select name="gender" class="form-control">
                    <option value="E" selected>{% trans "etc" %}</option>
                    <option value="M">{% trans "Male" %}</option>
                    <option value="F">{% trans "Female" %}</option>
				</select>
			</div>
			<div class="col-xs-5">
                <input type="text" class="form-control" name="birthday" placeholder="Birthday (YYYY-MM-DD)" data-vbirth="vbirth" value="{{info.birthday}}">
			</div>
        </div>
        <div class="form-group">
            By clicking on the signup button, you agree to <a href="/terms/" target="_blank">SPARCS SSO's terms of use</a> and <a href="/privacy/" target="_blank">privacy policy</a>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-warning">{% trans "Signup" %}</button>
                <a class="btn btn-default" href="/account/login/">{% trans "Login Page" %}</a>
            </div>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
$(function() {
	$('select[name=gender]').val('{{info.gender}}');	
	var option = {
		disable: true,
		custom: {
			vbirth: function(el) { var re = /^\d{4}-\d{2}-\d{2}$/; return el.val().trim() == '' || re.test(el.val()); }
		},
		errors: {
			vbirth: 'Format should be YYYY-MM-DD'
		}
	};
	$('#signup').validator(option);
    
    {% if type != 'EMAIL' %}
    $('input[name=email]').trigger("change");
    {% endif %}
	$('input[name=birthday]').datepicker({
		dateFormat: 'yy-mm-dd'
	});
});
</script>
{% endblock %}

