<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>{% block htitle %}SPARCS SSO{% endblock %}</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	{% block gheader %} {% endblock %}
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">SPARCS SSO</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.first_name }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/account/profile/">Profile / Connections</a></li>
							<li><a href="/account/password/change/">Change Password</a></li>
						</ul>
					</li>
					<li><a href="/account/logout/">Logout</a></li>
					{% else %}
					<li><a href="/account/signup/">Sign Up</a></li>
                    <li><a href="/account/login/">Login</a></li>
                    <li><a href="/account/reset-pw/">Reset Password</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
    <section class="container">
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>
