{% load i18n %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>{% block htitle %}SPARCS SSO{% endblock %}</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	{% block app-header %} {% endblock %}
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">SPARCS SSO</a>
			</div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    {% if user.is_staff or user.profile.is_for_test or user.profile.sparcs_id %}
                    <li><a href="/doc/dev/">Dev Doc</a></li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li><a href="/doc/sysop/">Sysop Doc</a></li>
                    <li><a href="/manage/">Manage</a></li>
                    {% endif %}
                </ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li class="dropdown">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.first_name }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
                            <li><a href="/account/profile/">{% trans "Profile / Connections" %}</a></li>
                            <li><a href="/account/service/">{% trans "Manage Service" %}</a></li>
                            <li><a href="/account/log/">{% trans "Logs" %}</a></li>
                            <li><a href="/account/point/">{% trans "Points" %}</a></li>
                            <li><a href="/account/password/change/">{% trans "Change Password" %}</a></li>
                            <li><a href="/account/deactivate/">{% trans "Deactivate" %}</a></li>
						</ul>
                    </li>
					<li><a href="/account/logout/">{% trans "Logout" %}</a></li>
					{% else %}
					<li><a href="/account/signup/">{% trans "Sign Up" %}</a></li>
                    <li><a href="/account/login/">{% trans "Login" %}</a></li>
                    <li><a href="/account/password/reset/">{% trans "Reset Password" %}</a></li>
                    {% endif %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{request.LANGUAGE_CODE|language_name_local}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/lang/ko/">한국어</a></li>
                            <li><a href="/lang/en/">English</a></li>
                        </ul>
                    </li>
				</ul>
			</div>
		</div>
	</nav>
    <section class="container">
        {% block content %}
        {% endblock %}
    </section>
    <footer class="container">
        <p class="info">
            <a href="/credits/">{% trans "Credits" %}</a> |
            <a href="/terms/">{% trans "Terms of Use" %}</a> |
            <a href="/privacy/">{% trans "Privacy Policy" %}</a>
        </p>
        <p class="info">
            <a href="#">{% trans "Dev Team" %} (sso@sparcs.org)</a> |
            <a href="#">{% trans "SYSOP" %} (sso.sysop@sparcs.org)</a>
        </p>
        <p class="copyright">
            Copyright © 2016,
            <a href="http://sparcs.kaist.ac.kr">
                <span style="color:#FF3399">S</span><span style="color:#33CC66">P</span><span style="color:#00CCFF">A</span><span style="color:#FF9900">R</span><span style="color:#33CCCC">C</span><span style="color:#9966FF">S</span>
            </a>
            SSO Team</p>
        </footer>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-71710431-1', 'auto');
            ga('send', 'pageview');
        </script>
</body>
</html>
