{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="left">

</div>
<div class="right">
    <form action="" method="post">
        <fieldset>
            <div class="form-group">
                <div class="Name">
                    <input type="text" class="form-control" id="name" placeholder="your name">
                </div>
            </div>
            <div class="form-group">
                <div class="Email">
                    <input type="text" class="form-control" id="email" placeholder="your email" >
                </div>
            </div>
            <div class="form-group">
                <div class=Message">
                    <textarea class="form-control" id="message" cols = "50" rows = "6" placeholder="your message"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="button">
        <button type="submit" id="submit"> Send to sparcs </button>
    </div>
</div>
{% endblock %}

