{% extends "base.html" %}
{% load i18n %}

{% block app-header %}
<meta name="robots" content="noindex, nofollow, noarchive, noimageindex">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
{% endblock %}

{% block content %}
<h1>Credit</h1>
<div class="credit">
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="https://www.gravatar.com/avatar/92f16149e5fe9b462665155b6cdafe91?s=100&d=mm" alt="samjo">
        </div>
        <div class="media-body">
            <h4 class="media-heading">조성원 (samjo) - Project Manager, Developer <small> 꾸냥뀨냥&gt;&lt;</small></h4>
            <ul>
                <li>서버 설치, 백업 자동화 등 많은 삽질</li>
                <li>Facebook, Twitter, KAIST Portal 연동</li>
                <li>SPARCS 서비스와의 연동 시스템 구현</li>
            </ul>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="https://www.gravatar.com/avatar/88551f545e6f9f9899a806410dcb3cfd?s=100&d=mm" alt="zazang">
        </div>
        <div class="media-body">
            <h4 class="media-heading">허원영 (zazang) - Developer <small> 팍스 스팍스</small></h4>
            <ul>
                <li>이메일 인증, 비빌번호 변경 등 기본기능 구현</li>
            </ul>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="https://www.gravatar.com/avatar/16ffb9f39e84cf523a2d49bdc1b08231?s=100&d=mm" alt="zoonoo">
        </div>
        <div class="media-body">
            <h4 class="media-heading">박준우 (zoonoo) - Translator <small> ;-)</small></h4>
            <ul>
                <li>서비스 영어 번역 및 검수</li>
            </ul>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="https://www.gravatar.com/avatar/0e04b7370f798f80f3928d625f521424?s=100&d=mm" alt="ashe">
        </div>
        <div class="media-body">
            <h4 class="media-heading">김재성 (ashe) - Translator <small> 감자튀김 핰핰</small></h4>
            <ul>
                <li>서비스 한국어 번역 및 검수</li>
            </ul>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="https://www.gravatar.com/avatar/5380b3fa03d6b5924f18a0fb646e0e8a?s=100&d=mm" alt="gogi">
        </div>
        <div class="media-body">
            <h4 class="media-heading">안병서 (gogi) - Developer <small></small></h4>
            <ul>
                <li>신입 개발자</li>
            </ul>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="https://www.gravatar.com/avatar/fe1a2bf331fd2bc79d3330605ca4fa9a?s=100&d=mm" alt="pudding">
        </div>
        <div class="media-body">
            <h4 class="media-heading">김태수 (pudding) - Designer <small></small></h4>
            <ul>
                <li>신입 디자이너</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
