{% extends "base.html" %}
{% load i18n %}

{% block app-header %}
<meta name="robots" content="noindex, nofollow, noarchive, noimageindex">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
{% endblock %}

{% block content %}
<h1>Credit</h1>
<div class="credit">
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="/static/img/samjo.png" alt="Sam Jo">
        </div>
        <div class="media-body">
            <h4 class="media-heading">조성원 (samjo) - Project Manager, Developer <small> 꾸냥뀨냥&gt;&lt;</small></h4>
            <ul>
                <li>서버 설치, 백업 자동화 등 많은 삽질</li>
                <li>Facebook, Twitter, KAIST Portal 연동</li>
                <li>SPARCS 서비스와의 연동 시스템 구현</li>
            </ul>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="/static/img/zazang.jpg" alt="zazang">
        </div>
        <div class="media-body">
            <h4 class="media-heading">허원영 (zazang) - Developer <small> 팍스 스팍스</small></h4>
            <ul>
                <li>이메일 인증, 비빌번호 변경 등 기본기능 구현</li>
            </ul>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="/static/img/zoonoo.png" alt="zoonoo">
        </div>
        <div class="media-body">
            <h4 class="media-heading">박준우 (zoonoo) - Translator <small> ;-)</small></h4>
            <ul>
                <li>서비스 영어 번역 및 검수</li>
            </ul>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="/static/img/ashe.jpg" alt="ashe">
        </div>
        <div class="media-body">
            <h4 class="media-heading">김재성 (ashe) - Translator <small> 감자튀김 핰핰</small></h4>
            <ul>
                <li>서비스 한국어 번역 및 검수</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
