{% extends "base.html" %}
{% load i18n %}

{% block app-header %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
{% endblock %}

{% block content %}
<h1 class="doc-header">Documents <small>for developers and testers</small></h1>
<div class="doc">
    <p>본 문서는 SPARCS SSO와의 연동 및 테스트에 관한 사항과 서비스 정식 런칭 시 해야 할 일들에 대해 다룹니다. 각 서비스의 session 관련 개발자와 SPARCS SSO SYSOP은 본 문서를 숙지하고 있어야 합니다.</p>
    <p><b>작성자</b>: 14 samjo - PM, DEV, SYSOP (2015 ~)</p>
    <p><b>최종수정</b>: 2016-01-06T00:45:00+0900</p>
    
    <h2>등록</h2>
    <p>SSO와의 로그인 연동을 위해서는 지원 서비스가 다음의 조건을 만족시켜야 합니다.</p>
    <ul>
        <li>지원 서비스는 반드시 <b>SPARCS에서 개발되며 관리</b>되는 서비스여야 합니다.</li>
        <li>로그인 연동 관련 기능을 구현해야 합니다.</li>
        <li>지원 서비스 <b>해지 관련 기능을 구현</b>해야 합니다.</li>
        <li>지원 서비스에 대한 약관이 있어야 합니다.</li>
        <li>지원 서비스에 대한 개인정보취급방침이 있어야 합니다.</li>
    </ul>
    <br>
    <p>위 조건을 모두 만족할 때, 지원 서비스의 PM은 SSO의 SYSOP에게 다음을 제출해야 합니다.</p>
    <ol>
        <li>지원 서비스의 고유 아이디 (영어 소문자로 한정되며 <b>sparcs로 시작해서는 안됨</b>)</li>
        <li>지원 서비스의 이름</li>
        <li>지원 서비스의 대표 url</li>
        <li>지원 서비스의 callback url</li>
        <li>지원 서비스의 해지 url</li>
        <li>지원 서비스의 cooltime 기간(일 단위, 60일 이내)</li>
        <li>지원 서비스의 아이콘</li>
        <li>지원 서비스의 secret key (16진수, 영어 소문자 표기, 20자)</li>
    </ol>
    <br>
    <p>SSO SYSOP는 위의 조건과 제출 내용이 모두 올바른지 확인한 뒤 지원 서비스를 등록시킵니다.</p>
    <div class="box box-warning">
        <h4>Secret Key 유출 주의</h4>
        <p>지원 서비스의 secret key는 반드시 secret이어야 합니다. 외부에 노출될 경우 누구나 원격으로 임의의 사용자를 서비스 해지시킬 수 있습니다.</p>
    </div>
    <div class="box box-danger">
        <h4>HTTPS Everywhere</h4>
        <p>지원 서비스의 callback url 및 해지 url은 https로 시작해야 합니다. 그렇지 않은 경우 session hijacking 공격의 가능성과 secret key의 유출 위험이 있습니다.</p>
    </div>

    <h2>로그인</h2>
    <h3>개요</h3>
    <p>사용자가 로그인 할 때는 다음과 같은 순서로 로그인 요청이 처리됩니다.</p>
    <ol>
        <li>사용자가 지원 서비스의 로그인 버튼을 클릭합니다.</li>
        <li>지원 서비스는 SSO의 특정 url로 사용자를 redirect시킵니다.</li>
        <li>사용자는 SSO에 로그인합니다. (이미 로그인되어 있다면, 자동으로 넘어갑니다.)</li>
        <li>SSO는 URL을 통해 어느 지원 서비스에서 요청한 로그인인지 확인합니다.</li>
        <li>(1). 사용자가 i) 지원 서비스를 해지하였고 cooltime이 지났거나 ii) 지원 서비스를 첫번째로 사용한 경우 SSO는 해당 지원 서비스 내에서 고유하게 사용자를 식별할 수 있는 정보(sid)를 새로 생성합니다.<br>
        (2). 사용자가 지원 서비스를 해지하였지만 cooltime이 지나지 않은 경우 SSO는 사용자에게 경고 창을 띄우고 <b>어떠한 정보도 지원 서비스로 보내지 않습니다</b>. 이 프로세스는 즉시 종료됩니다.</li>
        <li>SSO의 지원 서비스의 callback url을 tokenid와 함께 호출합니다. 방법은 GET이며, 필드 이름은 tokenid입니다.</li>
        <li>지원 서비스는 https://sparcssso.kaist.ac.kr/oauth/info/?tokenid=[tokenid]에서 해당 회원의 정보를 읽습니다.</li>
        <li>지원 서비스는 읽은 정보를 확인하여 적절한 절차를 수행합니다.</li>
    </ol>
    
    <h3>로그인 URL</h3>
    <p>지원 서비스는 SSO의 특정 url로 사용자를 redirect 시켜야 합니다. 그 특정 url은 다음과 같습니다.
    <p>실제 운영: https://sparcssso.kaist.ac.kr/oauth/require/?app=[[app-id]]</p>
    <ul>
        <li>위의 절차대로 등록한 서비스가 실제 운영할 때 사용하는 url입니다.</li>
        <li>SSO의 모든 사용자에 대해 로그인 요청이 처리됩니다.</li>
        <li>url의 app-id는 제출 목록의 "1. 지원 서비스의 고유 아이디 (영어 소문자 한정)"입니다.</li>
        <li>사용자의 "서비스 관리" 페이지에 등록되며, 서비스 해지 요청을 할 수 있습니다.</li>
    </ul>
    <br>
    <p>개발 및 테스트: https://sparcssso.kaist.ac.kr/oauth/require/?url=[[callback-url]]</p>
    <ul>
        <li>개발 할 때 또는 테스트 용도로 사용하는 url입니다.</li>
        <li>SSO의 테스트 계정에 대해서만 로그인 요청이 처리됩니다.</li>
        <li>sid는 uid와 같게 전송됩니다.</li>
        <li>사용자의 "서비스 관리" 페이지에 등록되지 않으며, 서비스 해지 요청을 하지 않습니다.</li>
    </ul>
    
    <h3>정보</h3>
    <p>지원 서비스가 /oauth/info/를 사용하여 SSO에서 다음과 같은 내용이 json으로 encoding 된 사용자 정보를 얻을 수 있습니다.</p>
    <ol>
        <li>uid: 사용자가 SSO에서 고유하게 부여받은 ID입니다.</li>
        <li>sid: 사용자가 지원 서비스에 대해 고유하게 부여받은 ID입니다. 지원 서비스 <b>해지 후 재가입시 변경</b>됩니다.</li>
        <li>email: 사용자의 email이며, 인증된 이메일인지는 보장하지 않습니다.</li>
        <li>first_name: 사용자의 이름입니다.</li>
        <li>last_name: 사용자의 성입니다.</li>
        <li>gender: M, F, E 셋 중 하나의 값을 가집니다. 차례대로 남성, 여성, 기타입니다.</li>
        <li>birthday: 사용자의 생일이며, YYYY-MM-DD 또는 빈 문자열 값입니다.</li>
        <li>is_for_test: 사용자가 테스트 계정인지 여부입니다. True 또는 False 입니다.</li>
        <li>facebook_id: 사용자의 페이스북 고유 ID입니다. 연동하지 않았을 경우 빈 문자열 값입니다.</li>
        <li>twitter_id: 사용자의 트위터 고유 ID입니다. 연동하지 않았을 경우 빈 문자열 값입니다.</li>
        <li>kaist_id: 사용자의 KAIST PORTAL 고유 ID입니다. 연동하지 않았을 경우 빈 문자열 값입니다.</li>
        <li>kaist_info: 사용자의 KAIST PORTAL 관련 정보입니다. 연동하지 않았을 경우 빈 문자열 값입니다.</li>
        <li>kaist_info_time: 사용자의 KAIST PORTAL 관련 정보를 받은 날짜입니다. YYYY-MM-DD 또는 빈 문자열 값입니다.</li>
        <li>sparcs_id: 사용자의 SPARCS ID입니다. SPARCS 회원이 아닌 경우 빈 문자열 값입니다.</li>
    </ol>
    <p>uid와 sid는 %x 포맷의 16진수 20자리입니다.</p>
    <div class="box box-warning">
        <h4>데이터 신뢰 금지</h4>
        <p>위 정보에서 4, 5, 6, 7이 실제 사용자의 정보와 일치하는지는 보장하지 않습니다.</p>
    </div>
    <br>
    <p>kaist_info는 json 포맷으로 다음과 같은 정보를 포함합니다. 각 정보가 무엇을 뜻하는지는 KAIST PORTAL의 "단일 인증 서버스 V3.0 적용 가이드 V1.0"을 참고하세요.</p>
    <p><code>kaist_uid, ku_psft_user_status_kor, employeeTy  pe, ku_person_type, ku_psft_user_status, ku_acad_prog_code, ku_born_date, ku_person_type_kor, sn, mail, displayname, givenname, ku_sex, ku_kname</code></p>
    
    <h2>서비스</h2>
    <h3>개요</h3>
    <p>지원 서비스 가입은 SSO에서 요청을 받는 즉시 이루어지며, <b>지원 서비스는 이를 통제할 수 없습니다</b>. 다만, SSO에서 로그인 정보를 얻은 뒤 지원 서비스에서 특정 또는 전체 기능을 차단하는 방법을 사용할 수는 있습니다.</p>
    <p>지원 서비스 해지는 SSO에서 요청을 받는 경우 지원 서비스에 이를 통지하는 방법으로 이루어집니다. 지원 서비스는 테스트 및 관리자 계정, 또는 법적으로 문제가 있는 사용자가 아닌 <b>일반적인 사용자의 서비스 해지를 거부하여서는 안됩니다</b>. 그렇기 때문에, 지원 서비스에서 해지 거부 사유를 SSO로 전달할 수 없습니다.</p>
    <p>SSO의 모든 기능을 사용하려면 서비스로 등록되어야 합니다. 서비스로 등록되면 다음과 같은 기능을 사용할 수 있습니다.</p>
    <ul>
        <li>모든 SSO 사용자가 로그인 가능</li>
        <li>COOLTIME 적용 가능</li>
        <li>지원 서비스 해지 가능 및 해지 확인 가능</li>
    </ul>
    <p>등록 방법에 대해서는 앞의 "등록" 부분을, 위의 내용에 대해서는 다음 섹션을 참고하세요.</p>
    
    <h3>COOLTIME</h3>
    <p>SSO는 사용자의 무분별한 지원 서비스 가입 / 해지를 막기 위해 COOLTIME 제도를 적용합니다. 서비스 해지 이후 특정 기간 동안은 사용자의 로그인 요청을 차단하며, 경고창을 띄웁니다. 사용자가 COOLTIME이 걸린 경우, SSO는 <b>지원 서비스에 어떠한 내용도 전달하지 않습니다</b>.</p>
    <p>COOLTIME의 기간은 일 단위로 적용할 수 있으며, 초 단위로 계산됩니다. 즉, COOLTIME이 3일인 서비스를 월요일 오전 9시 정각에 해지하였다면, 목요일 오전 9시 정각부터 다시 사용할 수 있습니다. COOLTIME 기간은 기술적으로 상한선이 INT범위이나, SSO 비활성화 정책에 따라 60일 이후에는 계정을 완전히 삭제하고 새로 만들 수 있으므로 COOLTIME의 기간을 59일 이상으로 설정하는 것은 의미가 없습니다.</p>
    
    <h3>해지</h3>
    <p>SSO에 사용자가 지원 서비스를 해지하려고 하는 경우 SSO는 지원 서비스의 해지 확인 url로 다음과 같은 정보를 GET 형식으로 전송하며, 결과를 받으려고 시도합니다.</p>
    <ol>
        <li>sid: 사용자의 sid입니다.</li>
        <li>key: 지원 서비스의 secret key 입니다.</li>
    </ol>
    <p>결과는 반드시 200 OK 응답이어야 하며, <b>본문은 json 인코딩된 형식이어야 하고, status 값이 0</b>이어야 합니다. 그렇지 않은 경우 해지 실패로 간주하고 사용자에게 해지 오류 메시지를 띄웁니다.</p>
    <p>위에서 언급하였듯이, 지원 서비스는 테스트, 관리자 및 법적 문제가 있는 사용자를 제외하고 어떠한 경우에도 <b>사용자의 지원 서비스 해지를 막아서는 안됩니다</b>. 해지 url은 사용자가 탈퇴했다는 것을 알려주는 목적으로 사용하여야 하며, 사용자 탈퇴할 수 있는지에 대한 검사를 해서는 안됩니다.</p>
    
    <h2>테스트</h2>
    테스트는 다음과 같은 미리 생성된 계정을 사용하여 할 수 있습니다. 테스트 계정이 더 필요한 경우 SSO SYSOP에 문의하시기 바랍니다.</p>
    <ol>
        <li>test1@sparcs.org / 공용비번 2번 / 92a511c538e18c893125</li>
        <li>test2@sparcs.org / 공용비번 2번 / badb72d08428c3019725</li>
        <li>test3@sparcs.org / 공용비번 2번 / f96d374cbc8c6d154882</li>
    </ol>
    <br>
    <p>테스트 계정에 대해서는 다음과 같은 사항을 주의하여야 합니다.</p>
    <ul>
        <li>테스트 계정은 <b>어떤 callback url에 대해서도 로그인 요청을 승인</b>합니다. 이는 session hijacking 공격에 노출되기 쉽습니다.</li>
        <li>SSO는 테스트 계정이 실제 서비스에 로그인 요청을 보내는 것을 차단하지 않습니다. 즉, <b>테스트 계정으로 실서비스를 사용</b>할 수 있으며, 이를 원하지 않는다면 지원 서비스의 코드에서 차단해야 합니다.</li>
        <li>테스트 계정의 <b>비밀번호를 마음대로 바꾸거나 비활성화하면 안됩니다</b>.</li>
        <li>테스트 계정은 누구나 로그인 가능하므로 데이터가 보존될 것이라 가정해서는 안됩니다.</li>
        <li>테스트 계정의 profile은 마음대로 변경 가능하나, <b>페이스북, 트위터 및 KAIST PORTAL 연동을 하면 안됩니다</b>. 테스트를 위해 해당 정보의 수정이 필요한 경우 SSO SYSOP에게 문의하세요.</li>
    </ul>
</div>
{% endblock %}
