{% extends "base.html" %}
{% load i18n %}

{% block app-header %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
{% endblock %}

{% block content %}
<h1 class="doc-header">Documents <small>for developers and testers</small></h1>
<div class="doc">
    <p>본 문서는 SPARCS SSO와의 연동 및 테스트에 관한 사항과 서비스 정식 런칭 시 해야 할 일들에 대해 다룹니다. 각 서비스의 session 관련 개발자와 SPARCS SSO SYSOP은 본 문서를 숙지하고 있어야 합니다.</p>
    <p><b>작성자</b>: 14 samjo - PM, DEV, SYSOP (2015 ~)</p>
    <p><b>최종수정</b>: 2016-02-22T14:01:00+0900</p>
    
    <h2>등록</h2>
    <p>SSO와의 로그인 연동을 위해서는 지원 서비스가 다음의 조건을 만족시켜야 합니다.</p>
    <ul>
        <li>지원 서비스는 반드시 <b>SPARCS에서 개발되며 관리</b>되는 서비스여야 합니다.</li>
        <li>로그인 연동 관련 기능을 구현해야 합니다.</li>
        <li>지원 서비스 <b>해지 관련 기능을 구현</b>해야 합니다.</li>
        <li>지원 서비스에 대한 약관이 있어야 합니다.</li>
        <li>지원 서비스에 대한 개인정보취급방침이 있어야 합니다.</li>
    </ul>
    <br>
    <p>위 조건을 모두 만족할 때, 지원 서비스의 PM은 SSO의 SYSOP에게 다음을 제출해야 합니다.</p>
    <ol>
        <li>지원 서비스의 고유 아이디 (영어 소문자로 한정되며 <b>sparcs로 시작해서는 안됨</b>)</li>
        <li>지원 서비스의 이름</li>
        <li>지원 서비스의 대표 url</li>
        <li>지원 서비스의 callback url</li>
        <li>지원 서비스의 해지 url</li>
        <li>지원 서비스의 cooltime 기간(일 단위, 60일 이내)</li>
        <li>지원 서비스의 아이콘</li>
        <li>지원 서비스의 secret key (16진수, 영어 소문자 표기, 20자)</li>
    </ol>
    <br>
    <p>SSO SYSOP는 위의 조건과 제출 내용이 모두 올바른지 확인한 뒤 지원 서비스를 등록시킵니다.</p>
    <div class="box box-warning">
        <h4>고유 ID 제약</h4>
        <p>Public한 서비스를 제작할 때에는 고유 ID가 sparcs로 시작해서는 안됩니다. sparcs로 시작하는 모든 서비스는 sparcs 회원만 접근이 가능하도록 SSO에서 자동으로 제한합니다.</p>
    </div>
    <div class="box box-danger">
        <h4>Secret Key 유출 주의</h4>
        <p>지원 서비스의 secret key는 반드시 secret이어야 합니다. 외부에 노출될 경우 누구나 원격으로 임의의 사용자를 서비스 해지시킬 수 있으며, 포인트롤 조작 할 수 있습니다.</p>
    </div>
    <div class="box box-danger">
        <h4>HTTPS Everywhere</h4>
        <p>지원 서비스의 callback url 및 해지 url은 https로 시작해야 합니다. 그렇지 않은 경우 session hijacking 공격의 가능성과 secret key의 유출 위험이 있습니다.</p>
    </div>

    <h2>로그인</h2>
    <h3>개요</h3>
    <p>사용자가 로그인 할 때는 다음과 같은 순서로 로그인 요청이 처리됩니다.</p>
    <ol>
        <li>사용자가 지원 서비스의 로그인 버튼을 클릭합니다.</li>
        <li>지원 서비스는 SSO의 특정 url로 사용자를 redirect시킵니다.</li>
        <li>사용자는 SSO에 로그인합니다. (이미 로그인되어 있다면, 자동으로 넘어갑니다.)</li>
        <li>SSO는 URL을 통해 어느 지원 서비스에서 요청한 로그인인지 확인합니다.</li>
        <li>(1). 사용자가 i) 지원 서비스를 해지하였고 cooltime이 지났거나 ii) 지원 서비스를 첫번째로 사용한 경우 SSO는 해당 지원 서비스 내에서 고유하게 사용자를 식별할 수 있는 정보(sid)를 새로 생성합니다.<br>
        (2). 사용자가 지원 서비스를 해지하였지만 cooltime이 지나지 않은 경우 SSO는 사용자에게 경고 창을 띄우고 <b>어떠한 정보도 지원 서비스로 보내지 않습니다</b>. 이 프로세스는 즉시 종료됩니다.</li>
        <li>SSO의 지원 서비스의 callback url을 tokenid와 함께 호출합니다. 방법은 GET이며, 필드 이름은 tokenid입니다.</li>
        <li>지원 서비스는 정보 URL을 통해 해당 회원의 정보를 읽습니다.</li>
        <li>지원 서비스는 읽은 정보를 확인하여 적절한 절차를 수행합니다.</li>
    </ol>

    <h3>로그인 URL</h3>
    <p>지원 서비스는 SSO의 특정 url로 사용자를 redirect 시켜야 합니다. 그 특정 url은 다음과 같습니다.
    <p>실제 운영: https://sparcssso.kaist.ac.kr/api/v1/token/require/?app=[[app-id]]</p>
    <ul>
        <li>위의 절차대로 등록한 서비스가 실제 운영할 때 사용하는 url입니다.</li>
        <li>SSO의 모든 사용자에 대해 로그인 요청이 처리됩니다.</li>
        <li>url의 app-id는 제출 목록의 "1. 지원 서비스의 고유 아이디 (영어 소문자 한정)"입니다.</li>
        <li>사용자의 "서비스 관리" 페이지에 등록되며, 서비스 해지 요청을 할 수 있습니다.</li>
    </ul>
    <br>
    <p>개발 및 테스트: https://sparcssso.kaist.ac.kr/api/v1/token/require/?url=[[callback-url]]</p>
    <ul>
        <li>개발 할 때 또는 테스트 용도로 사용하는 url입니다.</li>
        <li>SSO의 테스트 계정에 대해서만 로그인 요청이 처리됩니다.</li>
        <li>sid는 uid와 같게 전송됩니다.</li>
        <li>사용자의 "서비스 관리" 페이지에 등록되지 않으며, 서비스 해지 요청을 하지 않습니다.</li>
    </ul>
    
    <h3>정보 URL</h3>
    <p>로그인한 사용자의 정보를 가져오거나 변경하기 위해서는 <code>/api/v1/token/info/</code>에 다음과 같은 파라미터로 POST 요청을 보내야 합니다.</p>
    <ul>
        <li>tokenid: 받은 tokenid 입니다.</li>
        <li>key: 지원 서비스의 secret key 입니다. 개발 및 테스트인 경우 필요하지 않습니다.</li>
    </ul>
    <div class="box box-warning">
        <h4>token 만료</h4>
        <p>access token의 만료 시간은 token이 발급된 시간으로부터 5초가 지난 뒤입니다. token이 만료되면 정보를 가져올 수 없으며, 오류를 반환합니다.</p>
    </div>
    <p>tokenid가 올바르지 않거나 만료된 경우 404 상태 코드를 반환하며, key가 잘못된 경우 403 상태 코드를 반환합니다. 정상적인 경우라면 다음과 같은 내용이 json으로 encoding되어 반환됩니다.</p>
    <ol>
        <li>uid: 사용자가 SSO에서 고유하게 부여받은 ID입니다.</li>
        <li>sid: 사용자가 지원 서비스에 대해 고유하게 부여받은 ID입니다. 지원 서비스 <b>해지 후 재가입시 변경</b>됩니다.</li>
        <li>email: 사용자의 email이며, 인증된 이메일인지는 보장하지 않습니다.</li>
        <li>first_name: 사용자의 이름입니다.</li>
        <li>last_name: 사용자의 성입니다.</li>
        <li>gender: M, F, E 셋 중 하나의 값을 가집니다. 차례대로 남성, 여성, 기타입니다.</li>
        <li>birthday: 사용자의 생일이며, YYYY-MM-DD 또는 빈 문자열 값입니다.</li>
        <li>is_for_test: 사용자가 테스트 계정인지 여부입니다. True 또는 False 입니다.</li>
        <li>facebook_id: 사용자의 페이스북 고유 ID입니다. 연동하지 않았을 경우 빈 문자열 값입니다.</li>
        <li>twitter_id: 사용자의 트위터 고유 ID입니다. 연동하지 않았을 경우 빈 문자열 값입니다.</li>
        <li>kaist_id: 사용자의 KAIST PORTAL 고유 ID입니다. 연동하지 않았을 경우 빈 문자열 값입니다.</li>
        <li>kaist_info: 사용자의 KAIST PORTAL 관련 정보입니다. 연동하지 않았을 경우 빈 문자열 값입니다.</li>
        <li>kaist_info_time: 사용자의 KAIST PORTAL 관련 정보를 받은 날짜입니다. YYYY-MM-DD 또는 빈 문자열 값입니다.</li>
        <li>sparcs_id: 사용자의 SPARCS ID입니다. SPARCS 회원이 아닌 경우 빈 문자열 값입니다.</li>
    </ol>
    <p>uid와 sid는 %x 포맷의 16진수 20자리입니다.</p>
    <div class="box box-warning">
        <h4>데이터 신뢰 금지</h4>
        <p>위 정보에서 4, 5, 6, 7이 실제 사용자의 정보와 일치하는지는 보장하지 않습니다.</p>
    </div>
    <p>kaist_info는 json 포맷으로 다음과 같은 정보를 포함합니다. 각 정보가 무엇을 뜻하는지는 KAIST PORTAL의 "단일 인증 서버스 V3.0 적용 가이드 V1.0"을 참고하세요.</p>
    <p><code>ku_std_no, kaist_uid, ku_psft_user_status_kor, employeeType, ku_person_type, ku_kaist_org_id, ku_psft_user_status, ku_acad_prog_code, ku_born_date, ku_person_type_kor, sn, mail, displayname, givenname, ku_sex, ku_kname</code></p>
    
    <h2>서비스</h2>
    <h3>개요</h3>
    <p>지원 서비스 가입은 SSO에서 요청을 받는 즉시 이루어지며, <b>지원 서비스는 이를 통제할 수 없습니다</b>. 다만, SSO에서 로그인 정보를 얻은 뒤 지원 서비스에서 특정 또는 전체 기능을 차단하는 방법을 사용할 수는 있습니다.</p>
    <p>지원 서비스 해지는 SSO에서 요청을 받는 경우 지원 서비스에 이를 통지하는 방법으로 이루어집니다. 지원 서비스는 각자의 약관에 따라 사용자의 해지를 거부할 수 있습니다.</p>
    <p>SSO의 모든 기능을 사용하려면 서비스로 등록되어야 합니다. 서비스로 등록되면 다음과 같은 기능을 사용할 수 있습니다.</p>
    <ul>
        <li>모든 SSO 사용자가 로그인 가능</li>
        <li>COOLTIME 적용 가능</li>
        <li>지원 서비스 해지 가능 및 해지 확인 가능</li>
    </ul>
    <p>등록 방법에 대해서는 앞의 "등록" 부분을, 위의 내용에 대해서는 다음 섹션을 참고하세요.</p>
    
    <h3>COOLTIME</h3>
    <p>SSO는 사용자의 무분별한 지원 서비스 가입 / 해지를 막기 위해 COOLTIME 제도를 적용합니다. 서비스 해지 이후 특정 기간 동안은 사용자의 로그인 요청을 차단하며, 경고창을 띄웁니다. 사용자가 COOLTIME이 걸린 경우, SSO는 <b>지원 서비스에 어떠한 내용도 전달하지 않습니다</b>.</p>
    <p>COOLTIME의 기간은 일 단위로 적용할 수 있으며, 초 단위로 계산됩니다. 즉, COOLTIME이 3일인 서비스를 월요일 오전 9시 정각에 해지하였다면, 목요일 오전 9시 정각부터 다시 사용할 수 있습니다. COOLTIME 기간은 기술적으로 상한선이 INT범위이나, SSO 비활성화 정책에 따라 60일 이후에는 계정을 완전히 삭제하고 새로 만들 수 있으므로 COOLTIME의 기간을 59일 이상으로 설정하는 것은 의미가 없습니다.</p>
    
    <h3>해지</h3>
    <p>SSO에 사용자가 지원 서비스를 해지하려고 하는 경우 SSO는 지원 서비스의 해지 확인 url로 다음과 같은 정보를 POST 형식으로 전송하며, 결과를 받으려고 시도합니다.</p>
    <ol>
        <li>sid: 사용자의 sid입니다.</li>
        <li>key: 지원 서비스의 secret key 입니다.</li>
    </ol>
    <p>결과는 반드시 200 OK 응답이어야 하며, <b>본문은 json 인코딩된 형식이어야 하고, status 값이 "0"</b>이어야 합니다. 그렇지 않은 경우 해지 실패로 간주하고 사용자에게 해지 오류 메시지를 띄웁니다.</p>
    <p>해지를 거부할 경우, status 값을 "1"로 하고, msg 값에 해지 사유를 넣어야 합니다.</p>

    <h2>포인트</h2>
    <h3>개요</h3>
    <p>서비스는 사용자에게 보상 등의 목적으로 포인트 시스템을 도입하며, SPARCS 서비스 또한 마찬가지로 이를 사용하거나 사용할 예정입니다. SPARCS 서비스간의 포인트 교류를 통해 더 다양하고 자유로운 사용자 보상 시스템을 마련하기 위해 SSO는 SPARCS 통합 포인트 시스템을 제공합니다.</p>
    <p>SPARCS 포인트 시스템은 API를 통해 지원 서비스가 사용자의 포인트 정보를 가져오거나 변경할 수 있는 기능을 제공합니다. 사용자에게는 현재 포인트 정보와, 최근 20개의 포인트 변경 이력을 서비스, 시간 및 사유와 함께 제공합니다.</p>

    <h3>API</h3>
    <p>사용자의 포인트 정보를 가져오거나 변경하기 위해서는 <code>/api/v1/point/</code>에 다음과 같은 파라미터로 POST 요청을 보내야 합니다.</p>
    <ul>
        <li>app: 지원 서비스의 고유 ID 입니다.</li>
        <li>key: 지원 서비스의 secret key 입니다.</li>
        <li>sid: 조회 / 변경할 사용자의 sid 입니다.</li>
        <li>delta: 사용자의 포인트 변동량입니다. 전송하지 않았을 경우 0으로 간주합니다.</li>
        <li>action: 사용자의 포인트 변동에 대한 사유입니다. 사용자에게 직접적으로 표시됩니다.</li>
        <li>lock: lock을 설정할 지 여부입니다. 빈 문자열이 아니면 true, 빈 문자열이거나 전송되지 않았을 경우 false 입니다.</li>
        <li>lower_bound: lock을 설정했을 때 포인트가 변경되는 최소 포인트입니다. 전송하지 않았을 경우 -1억으로 간주합니다.</li>
    </ul>
    <p>이 때, <code>(delta != 0) AND ((not lock) OR (lock AND 현재 포인트 &gt;= lower_bound))</code>일 경우에만 사용자의 포인트를 변경하고 포인트 변경 이력을 작성하며, 그렇지 않은 경우 아무 작업도 수행하지 않습니다. app와 key 쌍이 올바르며 sid를 가진 사용자가 존재하는 경우, SSO는 다음과 같은 응답을 json 형식으로 보냅니다.</p>
    <ul>
        <li>point: 사용자의 (변경 후) 포인트입니다.</li>
        <li>changed: true 또는 false 값입니다. 포인트가 변경되었는지 여부를 나타냅니다.</li>
    </ul>
    <div class="box box-warning">
        <h4>포인트 제한 없음</h4>
        <p>SSO는 포인트를 DB에 저장할 때 INT 형식으로 저장하지만, 이 외에 부가적으로 포인트나 포인트의 변경을 제한하지 않습니다. 즉, <b>포인트 값은 음수를 포함</b>하여 INT 값의 어떠한 값이라도 될 수 있습니다.</p>
    </div> 

    <h2>공지</h2>
    <h3>개요</h3>
    <p>SSO는 업데이트를 진행하거나, 서비스 장애가 발생하거나, 기타 사용자에게 긴급하게 알릴 필요가 있는 경우 메인 화면과 로그인 화면에 공지를 띄웁니다. 이러한 공지를 지원 서비스에서도 띄울 수 있도록 관련 API를 제공합니다.</p>
    
    <h3>API</h3>
    <p>SSO에서 현재 활성화 된 공지사항을 가져오기 위해서는 <code>/api/v1/notice/</code>에 GET 요청을 보내면 됩니다. 어떠한 인증 또는 파라미터도 필요하지 않으며, 다음과 같은 내용을 json으로 encoding하여 전송합니다.</p>
    <ul>
        <li>valid_from: 공지 시작 시간입니다. ISO 포맷입니다.</li>
        <li>valid_to: 공지 종료 시간입니다. ISO 포맷입니다.</li>
        <li>title: 공지의 제목입니다.</li>
        <li>text: 공지의 내용입니다.</li>
    </ul>
    <p>현재 공지된 내용이 없을 경우 빈 json을 반환합니다.</p>

    <h2>테스트</h2>
    테스트는 다음과 같은 미리 생성된 계정을 사용하여 할 수 있습니다. 테스트 계정이 더 필요한 경우 SSO SYSOP에 문의하시기 바랍니다.</p>
    <ol>
        <li>test1@sparcs.org / 공용비번 2번 / 92a511c538e18c893125</li>
        <li>test2@sparcs.org / 공용비번 2번 / badb72d08428c3019725</li>
        <li>test3@sparcs.org / 공용비번 2번 / f96d374cbc8c6d154882</li>
    </ol>
    <br>
    <p>테스트 계정에 대해서는 다음과 같은 사항을 주의하여야 합니다.</p>
    <ul>
        <li>테스트 계정은 <b>어떤 callback url에 대해서도 로그인 요청을 승인</b>합니다. 이는 session hijacking 공격에 노출되기 쉽습니다.</li>
        <li>SSO는 테스트 계정이 실제 서비스에 로그인 요청을 보내는 것을 차단하지 않습니다. 즉, <b>테스트 계정으로 실서비스를 사용</b>할 수 있으며, 이를 원하지 않는다면 지원 서비스의 코드에서 차단해야 합니다.</li>
        <li>테스트 계정의 <b>비밀번호를 마음대로 바꾸거나 비활성화하면 안됩니다</b>.</li>
        <li>테스트 계정은 누구나 로그인 가능하므로 데이터가 보존될 것이라 가정해서는 안됩니다.</li>
        <li>테스트 계정의 profile은 마음대로 변경 가능하나, <b>페이스북, 트위터 및 KAIST PORTAL 연동을 하면 안됩니다</b>. 테스트를 위해 해당 정보의 수정이 필요한 경우 SSO SYSOP에게 문의하세요.</li>
    </ul>
</div>
{% endblock %}
