{% extends "base.html" %}

{% load staticfiles %}
{% block gheader %}
<link rel="stylesheet" type="text/css" href="{% static "css/account.css" %}">

{% block header %}{% endblock %}
{% endblock %}

{% block content %}
{% if notice %}
<div class="alert alert-main alert-warning">
    <strong>{{ notice.title }}</strong> {% autoescape off %}{{ notice.text }}{% endautoescape %}
</div>
{% endif %}

<div class="jumbotron">
	<h1>SPARCS SSO</h1>
    <p>Welcome to SPARCS Single Sign On!</p>
    <p>You can use the following services using SPARCS SSO</p>
    <div class="service-row">
    {% for service in services %}
        <div class="service">
            <a href="{{ service.url }}"><img src="{{ service.icon.url }}" alt="{{ service.name }}"></a>
            <p>{{ service.alias }}</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

