{% extends "base.html" %}
{% load i18n %}

{% block app-header %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
{% endblock %}

{% block content %}
{% if notice %}
<div class="alert-wrap">
    <div class="alert alert-warning">
        <strong>{{ notice.title }}</strong> {% autoescape off %}{{ notice.text }}{% endautoescape %}
    </div>
</div>
{% endif %}

<div class="jumbotron" style="margin-top:20px">
    <h1>SPARCS SSO</h1>
    <div class="hidden-xs">
        <p>{% trans "Welcome to SPARCS Single Sign On!" %}</p>
        <p>{% trans "You can use the following services using SPARCS SSO" %}</p>
    </div>
    <div class="service-board">
    {% for service in services %}
        <div class="service">
            <a href="{{ service.main_url }}"><img src="{{ service.icon_url }}" alt="{{ service.name }}"></a>
            <p>{{ service.alias }}</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
