{% extends "base.html" %}

{% load i18n %}

{% block app-header %}

<link rel="stylesheet" type="text/css" href="/static/css/main.css">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.ko.min.js"></script>

<link rel="stylesheet" type="text/css" href="http://nvd3.org/assets/css/nv.d3.css">
<script src="http://nvd3.org/assets/lib/d3.v3.js"></script>
<script src="http://nvd3.org/assets/js/nv.d3.js"></script>
<script src="http://nvd3.org/assets/js/data/stream_layers.js"></script>

{% endblock %}

{% block content %}
<style>
    .chart-header {
        float: left;
        font-weight: 600;
        margin: 10px;
    }

    .top-panel {
        width: 60%;
        margin: 0 auto;
    }

    .input-daterange {
    }
</style>

<h1 class="doc-header">SPARCS SSO Statistics <small>({{ time|date:"Y-m-d\TH:i:sT"}})</small></h1>
<p>Permission: 
{% if level == 0 %}
PUBLIC
{% elif level == 1 %}
<b>SPARCS</b>
{% elif level == 2 %}
<span class="text-danger"><b>SYSOP</b></span>
{% endif %}
</p>

<div class="row">
    <div class="input-daterange input-group top-panel" id="datepicker">
        <div class="input-group-btn btn-group" role="group">
            <div class="btn-group" role="group">
		        <button class="btn btn-default dropdown-toggle" type="button" id="service-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			        서비스
			        <span class="caret"></span>
		        </button>
		        <ul id="service-dropdown-menu" class="dropdown-menu" aria-labelledby="service-dropdown">
		        </ul>
            </div>
        </div>
        <input type="text" class="form-control date-control s-date" name="start" value="" />
        <span class="input-group-addon">~</span>
        <input type="text" class="form-control date-control e-date" name="end" value="" />
    </div>
</div>


<div class="row" style="margin-top: 30px;">
    <h4>선택한 서비스는 <span class="label label-info label-service">Loading..</span>입니다.</h4>

    <p class="chart-header">Account</p>
    <div>
		<svg id="account-chart" style='width:100%; height:500px;'> </svg>
    </div>
    
    <p class="chart-header">birth_year</p>
	<div>
		<svg id="birth-year-chart" style='width:100%; height:500px;'> </svg>
	</div>
    
    <p class="chart-header">Gender</p>
	<div>
		<svg id="gender-chart" style='width:100%; height:500px;'> </svg>
    </div>
    
    <hr>
    <p class="chart-header">KAIST - Gender</p>
	<div>
		<svg id="kaist-gender-chart" style='width:100%; height:500px;'> </svg>
    </div>
 
</div>


<script>

var first_call_g = true;

/*
s_date_g: start date, manually
e_date_g: date of today
*/
var s_date_g = "2016-08-16"
var e_date_g = (new Date()).toISOString().substring(0, 10);
var service_g = "all"

$('.input-daterange').datepicker({
    autoclose: true,
    todayHighlight: true,
    format: "yyyy-mm-dd",
    
    }).on("changeDate", function(e){
        s_date_g = $(".s-date").val();
        e_date_g = $(".e-date").val();
        get_stats(service_g, s_date_g, e_date_g);
});

$(document).ready(function(){
    set_date_to_calendar(s_date_g, e_date_g);
    get_stats(service_g, s_date_g, e_date_g);
    find_dropdown_menu_pos();
});

$(window).resize(function(){
	find_dropdown_menu_pos();		
});

$("body").on("click", ".dropdown-service", function(){
    service_g = $(this).text();
    change_service(service_g);   
});



/**
jquery ajax call
@param - read https://wiki.sparcs.org/w/index.php/SPARCS_SSO_API_%EB%AA%85%EC%84%B8
 */
function get_stats(client_ids, date_from, date_to){
	var param = {};
	var arg_names = ["client_ids", "date_from", "date_to"];
	for(var idx = 0; idx < arguments.length; idx++){
		param[arg_names[idx]] = arguments[idx];
	}
	$.ajax({
		url: "/api/v2/stats/",
		data: param,
		success: success_stats,
		dataType: "Json",
	});
}


/**
jquery ajax success function
 */
function success_stats(data, textStatus, jqXHR){
    var service_list = get_services(data);
    console.log(data);
	var s_data = get_data_of_s(data, service_list[0]);
    change_service_label(service_list[0]);

    /* only first call, add services to dropdown */
    if(first_call_g){
        add_services(service_list);
        first_call_g = false;
    }
    
    if(Object.keys(s_data).length != 0){
        var property_arr = get_properties(s_data);
	    for(var idx = 0; idx < property_arr.length; idx++){
	    	var property = property_arr[idx];
	    	var f_data = get_formatted_data(s_data, property);
    		draw_graph(f_data, property);
        }
    } else {
        alert("선택한 구간의 데이터가 없습니다!");
    }
}

function change_service(s_name){
    change_service_label(s_name);
    get_stats(s_name, s_date_g, e_date_g);
}

function change_service_label(s_name){
    $(".label-service").text(s_name);
}


/**
Graph drawing function
*/
function draw_graph(f_data, property){
	var property = property.replace("_", "-");
	nv.addGraph(function() {
		var chart = nv.models.multiBarChart()
			.transitionDuration(350)
			.reduceXTicks(true)   //If 'false', every single x-axis tick label will be rendered.
			.rotateLabels(0)      //Angle to rotate x-axis labels.
			.showControls(true)   //Allow user to switch between 'Grouped' and 'Stacked' mode.
			.groupSpacing(0.1)    //Distance between each group of bars.
			;

		chart.xAxis
			.tickFormat(function(d){
				return d3.time.format("%x")(new Date(d))
			});

		chart.yAxis
			.tickFormat(d3.format(',.1f'));

		d3.select("#"+property+"-chart")
			.datum(f_data)
			.call(chart);

		nv.utils.windowResize(chart.update);

		return chart;
	});
}


/**
Stats object manipulation function
*/

/**
@param {obj} data - json object from stats api
@returns {array} - array of services
*/
function get_services(data){
	var stats = data["stats"];
	return Object.keys(stats);
}

function get_data_of_s(data, s_name){
	return data["stats"][s_name]["data"];
}

function get_properties(s_data){
    var date_arr = Object.keys(s_data);
    return Object.keys(s_data[date_arr[0]]);
}

/*
@param {obj} s_data - Data format
{
	2016-08-17T12:46:56+00:00: {
		account: {
			all: int_all,
			email: int_email,
			...
		},
	},
	2016-08-18T12:55:35+00:00: {
		...
	},
}
@returns {array} - Data format
[
	{
		key: "label1",
		values:[
			{ x1: val_x1, y1: val_y1},
			{ x2: val_x2, y2: val_y2},
			...
		]
	},
	{
		key: "label2",
		...
	}
]
*/

function get_formatted_data(s_data, property){
	var r_values = {};
	var date_arr = Object.keys(s_data).sort();
    
    for(var idx = 0; idx < date_arr.length; idx++){
		var date_key = date_arr[idx];
		var attr_obj = s_data[date_key];
        
        var property_arr = Object.keys(attr_obj);
        // if property found
        if(property_arr.indexOf(property) != -1){
            r_values = preprocess_data(attr_obj, date_key, r_values, property);
		} else {

		}
	}
	
	var r_arr = [];
	for(var r_key in r_values){
		r_arr.push({"key": r_key, "values": r_values[r_key]});
	}
	return r_arr;
}
/*
manipulate p_attr_obj for purpose
- account: delete key 'all'
- birth_year: append {year: 0} which api does not contain for spacing

@return: r_values
*/
function preprocess_data(attr_obj, date_key, r_values, property, property_2nd) {
    
    var r_values = $.extend({}, r_values);
    var p_attr_obj = attr_obj[property];
    
    switch(property){
        case "account":
            delete p_attr_obj["all"];
            break;
        case "birth_year":
            p_attr_obj = preprocess_data_birth_year(p_attr_obj);
            break;
        case "gender":
            break;
        case "kaist":
            /* 여기 구현 해야 함*/ 
            p_attr_obj = preprocess_data_kaist(p_attr_obj, property_2nd);
            break;
    }
    
    for(var r_key in p_attr_obj){
		if(Object.keys(r_values).indexOf(r_key) === -1){
			r_values[r_key] = [];
		}
		r_values[r_key].push({"x": date_key, "y":p_attr_obj[r_key]});
	}
    return r_values;
}

/**
@param {obj} p_attr_obj - apijson["birth_year"]
- append {year: 0} which api does not contain for spacing
@return preprocessed p_attr_obj
*/
function preprocess_data_birth_year(p_attr_obj){
    date_arr = Object.keys(p_attr_obj);
    min_date = min(date_arr);
    max_date = max(date_arr);
    for(var d = min_date; d <= max_date; d++){
        if(date_arr.indexOf(d+"") === -1){
            p_attr_obj[d] = 0;
        }
    }
    return p_attr_obj;
}

/**
parsing json["kaist"] to 2nd-depth
@param {obj} p_attr_obj - apijson["kaist"]
@param {string} property_2nd - birth_year, department, employee, gender, professor, start_year
@return preprocessed p_attr_obj;
*/
function preprocess_data_kaist(p_attr_obj, property_2nd){
    var p2nd_attr_obj = p_attr_obj[property_2nd];
    switch(property_2nd){
        case "birth_year":
            preprocess_data_birth_year(p2nd_attr_obj);
            break;
        case "department":
            break;
        case "start_year":
            break;
    }
}


/**
DOM manipulation function with jquery
*/
function add_services(service){
	for(var idx = 0; idx < service.length; idx++){
		$("#service-dropdown-menu").append('<li id=dropdown-'+service[idx]+' class="dropdown-service"  ><a href="#">'+service[idx]+'</a></li>');
	}
}

function find_dropdown_menu_pos(){
	$dm_left = $("#service-dropdown").position();
	$("#service-dropdown-menu").css("left", $dm_left.left);
}

function set_date_to_calendar(s_date, e_date){
    $(".s-date").val(s_date);
    $(".e-date").val(e_date);
}

/*
Help function
*/
function min(x /*: Array<number> */)/*:number*/ {
    var value;
    for (var i = 0; i < x.length; i++) {
        if (value === undefined || x[i] < value) {
            value = x[i];
        }
    }
    if (value === undefined) {
        return NaN;
    }
    return value;
}

function max(x /*: Array<number> */) /*:number*/ {
    var value;
    for (var i = 0; i < x.length; i++) {
        if (value === undefined || x[i] > value) {
            value = x[i];
        }
    }
    if (value === undefined) {
        return NaN;
    }
    return value;
}



</script>

{% endblock %}
