{% extends "base.html" %}
{% load i18n %}

{% block app-header %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.min.js"></script>
{% endblock %}

{% block content %}
<h1 class="doc-header">SPARCS SSO Statistics <small>({{ time|date:"Y-m-d\TH:i:sT"}})</small></h1>
<p>Permission: 
{% if level == 0 %}
PUBLIC
{% elif level == 1 %}
<b>SPARCS</b>
{% elif level == 2 %}
<span class="text-danger"><b>SYSOP</b></span>
{% endif %}
</p>

<div id="stat">
    <ul class="nav nav-tabs" role="tablist">
        {% for s in stat %}
        <li><a href="#{{ s.name }}" role="tab" data-toggle="tab" id="{{ s.name }}-link">{{ s.alias }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for s in stat %}
        <div role="tabpanel" class="tab-pane" id="{{ s.name }}" style="padding-top:10px">
            <p><b>Total Users:</b> {{ s.account.all }}</p>
            {% if level >= 1 %}
            <p><b>Email Authed:</b> {{ s.account.email }}</p>
            <p><b>Facebook / Twitter / KAIST Connected:</b> {{ s.account.fb }} / {{ s.account.tw }} / {{ s.account.kaist }}</p>
            <div class="row">
                <div class="col-sm-6">
                    <p><b>Gender{% if level >= 2 %} / Real Gender{% endif %}</b></p>
                    <canvas id="{{ s.name }}-gender" width="400" height="400"></canvas>
                </div>
                <div class="col-sm-6">
                    <p><b>Birth Year{% if level >= 2 %} / Real Birth Year{% endif %}</b></p>
                    <canvas id="{{ s.name }}-birth-year" width="400" height="400"></canvas>
                </div>
            </div>
            {% endif %}
            
            {% if level >= 2 %}
            <p><b>KAIST - Employee / Professor:</b> {{ s.kaist.employee }} / {{ s.kaist.professor }}</p>
            <div class="row">
                <div class="col-sm-6">
                    <p><b>Start Year</b></p>
                    <canvas id="{{ s.name }}-start-year" width="400" height="400"></canvas>
                </div>
                <div class="col-sm-6">
                    <p><b>Department</b></p>
                    <canvas id="{{ s.name }}-department" width="400" height="400"></canvas>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<script>
    var extractLineData = function(dataset) {
        var keys = Object.keys(dataset); keys.sort();
        var min = parseInt(keys[0]);
        var max = parseInt(keys[keys.length-1]);

        labels = []; data = [];
        for (var i = min; i <= max; i += 1) {
            labels.push(i);
            var v = dataset[i];
            v = (v === undefined) ? 0 : v;
            data.push(v);
        }
        return [labels, data];
    };

    var mergeLineData = function(label1, data1, label2, data2) {
        var min = Math.min(label1[0], label2[0]);
        var max = Math.max(label1[label1.length-1], label2[label2.length-1]);
        
        labels = []; d1 = []; d2 = [];
        for (var i = min; i <= max; i += 1) {
            labels.push(i);
            var v1 = data1[i];
            d1.push(((v1 === undefined) ? 0 : v1));
            var v2 = data2[i];
            d2.push(((v2 === undefined) ? 0 : v2));
        }
        return [labels, d1, d2];
    };

    {% for s in stat %}
    $('#{{ s.name }}-link').on('shown.bs.tab', function() {
        {% if level >= 1 %}
        var ctx_gender = $("#{{ s.name }}-gender").get(0).getContext("2d");
        var data_gender = {
            labels: ["Male", "Female", "etc"],
            datasets: [
                {
                    label: "Gender",
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(220,220,220,0.75)",
                    highlightStroke: "rgba(220,220,220,1)",
                    data: [{{ s.gender.male }}, {{ s.gender.female }}, {{ s.gender.etc }}]
                },
                {% if level >= 2 %}
                {
                    label: "Real Gender",
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,0.8)",
                    highlightFill: "rgba(151,187,205,0.75)",
                    highlightStroke: "rgba(151,187,205,1)",
                    data: [{{ s.kaist.gender.male }}, {{ s.kaist.gender.female }}, 0]
                }
                {% endif %}
            ]
        };
        new Chart(ctx_gender).Bar(data_gender);

        var ctx_birth_year = $("#{{ s.name }}-birth-year").get(0).getContext("2d");
        var raw_birth_year = {
            {% for key, value in s.birth_year.items %}
            {{ key }}: {{ value }},
            {% endfor %}
        };
        [label_birth_year, data_birth_year] = extractLineData(raw_birth_year);
        {% if level >= 2 %}
         var raw_birth_year_real = {
            {% for key, value in s.kaist.birth_year.items %}
            {{ key }}: {{ value }},
            {% endfor %}
        };
        [label_birth_year_real, g] = extractLineData(raw_birth_year_real);
        [label_birth_year, data_birth_year, data_birth_year_real] = mergeLineData(label_birth_year, raw_birth_year, label_birth_year_real, raw_birth_year_real);
        {% endif %}
        var data_birth_year = {
            labels: label_birth_year,
            datasets: [
                {
                    label: "Birth Year",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: data_birth_year
                },
                {% if level >= 2 %}
                {
                    label: "Real Birth Year",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: data_birth_year_real
                }
                {% endif %}
            ]
        };
        new Chart(ctx_birth_year).Line(data_birth_year);
        {% endif %}

        {% if level >= 2 %}
        var ctx_start_year = $("#{{ s.name }}-start-year").get(0).getContext("2d");
        var raw_start_year = {
            {% for key, value in s.kaist.start_year.items %}
            {{ key }}: {{ value }},
            {% endfor %}
        };
        [label_start_year, data_start_year] = extractLineData(raw_start_year);
        var data_start_year = {
            labels: label_start_year,
            datasets: [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: data_start_year}]
        };
        new Chart(ctx_start_year).Line(data_start_year);

        var ctx_department = $("#{{ s.name }}-department").get(0).getContext("2d");
        var data_department = [
            {% for key, value in s.kaist.department.items %}
            { value: {{ value }}, label: "{{ key }}" },
            {% endfor %}
        ];
        new Chart(ctx_department).Doughnut(data_department);
        {% endif %}
    });
    {% endfor %}
    
    $('#stat a:first').tab('show');
</script>
{% endblock %}
