{% extends "base.html" %}
{% load i18n %}

{% block app-header %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/stats.css">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}
<h1 class="doc-header">SPARCS SSO Statistics <small>({{ time|date:"Y-m-d\TH:i:sT"}})</small></h1>
<p>Permission: 
{% if level == 0 %}
PUBLIC
{% elif level == 1 %}
<b>SPARCS</b>
{% elif level == 2 %}
<span class="text-danger"><b>SYSOP</b></span>
{% endif %}
</p>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="input-group" style="margin-bottom: 10px">
      <div class="input-group-btn btn-group">
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" type="button" id="service-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span id="service-name">all</span>
            <span class="caret"></span>
          </button>
          <ul id="service-list" class="dropdown-menu" aria-labelledby="service-dropdown">
          </ul>
        </div>
      </div>
      <input type="text" class="form-control date-range text-center" name="start" value="" />
      <span class="input-group-btn">
        <button class="btn btn-default btn-primary btn-get-stat" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>

<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#recent-tab" aria-controls="recent-tab"
        role="tab" data-toggle="tab">최신</a>
    </li>
    <li role="presentation">
      <a href="#total-tab" aria-controls="total-tab"
        role="tab" data-toggle="tab">전체</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="recent-tab">
      <h4>Account Type</h4>
      <p><b>Total</b>: <span id="account-all-r">0</span></p>
      <p class="lv-1">
        <b>Email Authed</b>: <span id="account-email-r">0</span> / 
        <b>Test</b>: <span id="account-test-r">0</span>
      </p>
      <p class="lv-1">
        <b>Facebook</b>: <span id="account-fb-r">0</span> /
        <b>Twitter</b>: <span id="account-tw-r">0</span> /
        <b>KAIST</b>: <span id="account-kaist-r">0</span>
      </p>
      <h4 class="lv-2">KAIST Professor / Employee</h4>
      <p class="lv-2">
        <b>Professor</b>: <span id="member-professor-r">0</span> /
        <b>Employee</b>: <span id="member-employee-r">0</span>
      </p>
      <div id="gender-r-chart" class="chart-body-half lv-1"></div>
      <div id="birth-r-chart" class="chart-body-half lv-1"></div>
      <div id="class-of-r-chart" class="chart-body-half lv-2"></div>
      <div id="dept-r-chart" class="chart-body-half lv-2"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="total-tab">
      <div id="account-t-chart" class="chart-body"></div>
      <div id="gender-t-chart" class="chart-body lv-1"></div>
      <div id="birth-t-chart" class="chart-body lv-1"></div>
      <div id="kaist-gender-t-chart" class="chart-body lv-2"></div>
      <div id="kaist-birth-t-chart" class="chart-body lv-2"></div>
      <div id="class-of-t-chart" class="chart-body lv-2"></div>
      <div id="dept-t-chart" class="chart-body lv-2"></div>
      <div id="kaist-member-t-chart" class="chart-body lv-2"></div>
    </div>
  </div>
</div>

<script src="/static/js/stats.js"></script>
{% endblock %}
