{% extends "base.html" %}
{% load i18n %}

{% block app-header %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
{% endblock %}

{% block content %}
<h1 class="doc-header">SPARCS SSO 이용약관 v1.0 <small>(REV2015-11-29T02:17+0900)</small></h1>
<div class="doc">
    <h3>제1조. SPARCS SSO의 목적</h3>
    <ol>
        <li>SPARCS SSO (이하 "본 서비스")는 KAIST 학부 동아리 SPARCS (이하 "SPARCS")가 제공하는 서비스 (이하 "SPARCS 서비스")의 계정을 통합하여 한 번의 로그인으로 SPARCS 서비스들을 사용할 수 있게 함을 목적으로 합니다.</li>
        <li>본 서비스는 누구나 사용할 수 있습니다. 다만, SPARCS 서비스의 일부 사항에 관해 KAIST 교수, 교직원, 재학생, 졸업생 및 입주업체 등으로 이용 자격을 제한할 수 있습니다. 이에 관하여는 각 SPARCS 서비스의 약관을 따릅니다.</li>
    </ol>
	
	<h3>제2조. 가입 및 탈퇴</h3>
    <ol>
		<li>본 서비스는 이메일 인증 및 Facebook 계정, Twitter 계정 및 KAIST Portal 계정 연동을 통해 가입할 수 있습니다. 다만, 모든 가입 절차에서 이메일 입력은 필수 사항입니다.</li>
		<li>가입 후 이메일 주소 변경은 불가능하나 Facebook 및 Twitter 계정은 자유롭게 연동 및 연동 해제할 수 있습니다.</li>
		<li>다만, KAIST Portal 계정은 자유롭게 연동할 수 있으나 연동 해제는 불가능합니다.</li>
		<li>이메일 인증은 회원 가입 시 입력한 이메일로 수신된 인증 링크를 클릭하는 방식으로 이루어집니다. 이메일을 인증한 경우, 이메일로 서비스에 로그인 할 수 있습니다.</li>
		<li>Facebook, Twitter 및 KAIST Portal 계정이 연동되어 있는 경우 해당 계정 로그인을 통해 본 서비스에 로그인할 수 있습니다.</li>
		<li>즉시 회원을 탈퇴하는 것은 불가능합니다. 다만, 계정을 비활성화하고 로그인을 60일 동안 하지 않으면 회원 탈퇴가 자동으로 이루어집니다.</li>
		<li>본 서비스로 사용하는 SPARCS 서비스가 존재한다면 계정을 비활성화 할 수 없습니다.</li>
	</ol>
 
	<h3>제3조. 회원의 권리 및 의무</h3>
	<ol>
		<li>회원은 언제든지 본인의 개인정보를 열람하고 수정할 수 있습니다. 다만, 이메일 수정은 불가능합니다.</li>
		<li>회원 가입 시 입력한 사항이 변경되었을 경우 이를 수정해야 하며, 수정하지 않아서 발생하는 불이익에 대해서는 SPARCS가 책임지지 않습니다.</li>
		<li>이메일과 비밀번호 및 기타 본 서비스의 로그인할 수 있는 정보의 관리책임은 회원에게 있습니다. 이를 소홀히 하여 발생하는 불이익에 대해서 SPARCS는 책임지지 않습니다.</li>
		<li>다음의 경우 SPARCS는 즉시 해당 회원의 본 서비스 사용을 중지시킬 수 있습니다.
			<ol>
				<li>SPARCS 또는 본 서비스의 관리자를 사칭한 경우</li>
				<li>SPARCS의 동의 없이 본 서비스를 영리목적으로 사용한 경우</li>
				<li>다른 사람의 계정을 부정한 방법으로 사용한 경우</li>
				<li>본 서비스의 안정적인 운영에 지장을 주거나 줄 우려가 있는 행위를 한 경우</li>
				<li>정보통신망이용촉진및정보보호등에관한법률 등 관계 법령 및 본 약관이 금지하는 행위를 한 경우</li>
				<li>기타 반사회적 또는 미풍양속에 어긋나는 행위를 한 경우</li>
			</ol>
		</li>
	</ol>
	
	<h3>제4조. SPARCS 서비스 가입 및 탈퇴</h3>
	<ol>
		<li>본 조는 본 서비스를 통해 계정을 관리하는 SPARCS 서비스 (이하 "지원 서비스")에 대해 적용되는 사항입니다. 본 조는 모든 지원 서비스의 약관보다 우선하여 적용됩니다.</li>
		<li>지원 서비스의 회원 가입은 본 서비스를 사용하여 지원 서비스에서 첫 번째로 로그인하는 것으로 대체됩니다. 이 때, 지원 서비스는 닉네임 입력 등의 추가적인 정보 입력 절차를 요구할 수 있습니다.</li>
		<li>지원 서비스의 회원 탈퇴는 본 서비스에서 지원 서비스와의 연동을 해지하는 것으로 대체됩니다. 연동 해지는 즉시 적용되며, 지원 서비스에서 입력한 데이터의 처리는 각 지원 서비스의 약관에 따릅니다.</li>
		<li>일부 지원 서비스는 일정 기간 동안 탈퇴 후 재가입할 수 없습니다. 이는 각 지원 서비스의 약관에 따릅니다.</li>
	</ol>

	<h3>제5조. 이전 SPARCS 서비스 가입 및 탈퇴</h3>
	<ol>
		<li>본 서비스를 통해 계정을 관리하지 않는 SPARCS 서비스 (이하 "이전 서비스")에 대해서는 본 약관 및 개인정보취급방침이 적용되지 않습니다.</li>
		<li>이전 서비스의 사용 및 개인정보취급에 대해서는 각 서비스의 약관 및 개인정보취급방침을 참조하시기 바랍니다.</li>
	</ol>

	<h3>제6조. 개인정보보호 의무</h3>
	<ol>
		<li>SPARCS는 정보통신망법 등 관계 법령이 정하는 바에 따라 개인 정보를 보호하기 위해 노력하며, 개인정보 보호 및 사용에 대해서는 개인정보취급방침이 적용됩니다.</li>
		<li>본 서비스가 아닌 SPARCS 서비스에 대해서는 본 개인정보취급방침이 적용되지 않습니다.</li>
	</ol>

	<h3>제7조. 책임의 제한</h3>
	<ol>
		<li>SPARCS는 다음의 사유로 서비스 제공을 중지하는 것에 대해 책임을 지지 않습니다.
			<ol>
				<li>설비의 보수 등을 위해 부득이한 경우</li>
				<li>전기통신사업법에 규정된 기간통신업자가 전기통신서비스를 중지하는 경우</li>
				<li>천재지변, 정전 및 전시 상황인 경우</li>
				<li>기타 본 서비스를 제공할 수 없는 사유가 발생한 경우</li>
			</ol>
		</li>
		<li>지원 서비스에 대한 책임의 제한에 관해서는 해당 지원 서비스의 약관을 참조하시기 바랍니다.</li>
	</ol>

	<h3>제8조. 문의 및 제보</h3>
	<ol>
		<li>본 서비스에 대한 건의사항 또는 버그에 관한 사항은 sso@sparcs.org를 통해 문의 및 제보할 수 있습니다.</li>
		<li>본 서비스의 계정에 관한 사항 또는 보안문제에 관한 사항은 sso.sysop@sparcs.org를 통해 문의 및 제보할 수 있습니다.</li>
		<li>회원은 어떠한 경우에도 위의 이메일 주소로 계정의 비밀번호를 보내서는 안 됩니다. 이를 위반하여 생기는 불이익은 SPARCS가 책임지지 않습니다.</li>
	</ol>

	<h3>제9조. 게시, 개정 및 해석</h3>
	<ol>
		<li>SPARCS는 본 약관의 내용을 약관 페이지에 게시합니다.</li>
		<li>SPARCS는 약관의규제에관한법률, 정보통신망이용촉진및정보보호등에관한법률 등 관련법을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.</li>
		<li>본 약관을 개정하는 경우 적용일자, 개정 내용 및 사유를 명시하여 개정 약관의 적용일자 30일 전부터 적용일자 전일까지 제 1항의 방식에 따라 공지합니다.</li>
		<li>회원은 개정약관이 공지된지 30일 내에 개정약관에 대한 거부의 의사표시를 할 수 있습니다. 이 경우 회원은 본 서비스의 관리자에게 메일을 발송하여 60일의 비활성화 기간 없이 즉시 사용 중인 모든 지원 서비스를 해지하고 본 서비스에서 회원 탈퇴할 수 있습니다.</li>
		<li>기존 약관을 적용할 수 없는 특별한 이유가 있는 경우 SPARCS에서 해당 회원에 대해 전항과 같은 조치를 취할 수 있습니다.</li>
		<li>SPARCS는 개정약관이 공지된지 30일 내에 거부의 의사표시를 하지 않은 회원에 대해 개정약관에 대해 동의한 것으로 간주합니다.</li>
		<li>본 약관의 해석은 SPARCS가 담당하며, 분쟁이 있을 경우 민법 등 관계 법률과 관례에 따릅니다.</li>
	</ol>

	<h3>[부칙]</h3>
	<p>본 약관은 2015년 12월 23일부터 적용됩니다.</p>

</div>
{% endblock %}
