{% extends "base.html" %}
{% load i18n %}

{% block app-header %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
{% endblock %}

{% block content %}
<div class="row" style="width: 67.2%; margin: 0 auto">
    <img class="img-responisve" src="/static/img/thanks.png" style="margin: 50px auto; width:100%; filter: opacity(70%);"/>
</div>
<div class="row">
    <a href="/" class="btn btn-primary btn-lg active" role="button" style="margin-bottom: 30px; padding: 5px">go back</a>
</div>    
{% endblock %}
