{% extends "dev/base.html" %}
{% load i18n %}

{% block htitle %}SPARCS SSO Test User{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h1>Test User {% if tuser %}Edit{% else %}Add{% endif %}</h1>
<form id="user" class="form-horizontal" action="/dev/user/{% if tuser %}{{tuser.username}}{% else %}add{% endif %}/" method="post">
    <fieldset>
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-8">
                <input type="email" class="form-control" name="email" disabled value="{% if tuser %}{{tuser.email}}{% else %}generator@sso.sparcs.org{% endif %}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-xs-offset-1 col-xs-6 col-sm-offset-0 col-sm-5">
                <input type="text" class="form-control" name="first_name" placeholder="First Name" required="required" maxlength="30" value="{{tuser.first_name}}">
            </div>
            <div class="col-xs-4 col-sm-3">
                <input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required" maxlength="30" value="{{tuser.last_name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Gender, Birthday</label>
            <div class="col-xs-offset-1 col-xs-4 col-sm-offset-0 col-sm-3">
                <input type="text" class="form-control" name="gender" required placeholder="*M, *F, *E, *H, or custom" value="{% if tuser %}{{tuser.profile.gender}}{% else %}*H{% endif %}">
            </div>
            <div class="col-xs-6 col-sm-5">
                <input type="text" class="form-control" name="birthday" placeholder="Birthday (YYYY-MM-DD)" data-vbirth="vbirth" value="{{tuser.profile.birthday|date:'Y-m-d'}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Test Point</label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-8">
                <input type="number" class="form-control" name="tset-point" value="{% if tuser %}{{tuser.profile.point_test}}{% else %}0{% endif %}">
            </div>
        </div>
        <div class="form-group">
            <p class="text-danger"><b>Important! Take EXTRA CAUTION</b></p>
            <p class="text-danger">Login with KAIST Portal is impossible for Test Account.</p>
            <p class="text-danger">KAIST Info should be json encoded. Invalid input will be replaced as empty value.</p>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">KAIST Info</label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-8">
                <textarea class="form-control" rows="6" name="kaist_info" style="resize:vertical">{{tuser.profile.kaist_info}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-warning">{% if tuser %}Modify{% else %}Add{% endif %}</button>
                {% if tuser %}<button type="button" class="btn btn-remove btn-danger">REMOVE</button>{% endif %}
                <a class="btn btn-default" href="/dev/main/">Dev Page</a>
            </div>
        </div>
    </fieldset>
</form>


<script type="text/javascript">
$(function() {
    var option = {
        disable: true,
        custom: {
            vbirth: function(el) { var re = /^\d{4}-\d{2}-\d{2}$/; return el.val().trim() == '' || re.test(el.val()); }
        },
        errors: {
            vbirth: 'Format should be YYYY-MM-DD'
        }
    };
    $('#user').validator(option);

    $('.btn-remove').click(function() {
        var data = {
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        }
        $.ajax({
            url: '/dev/user/{{tuser.username}}/delete/',
            type: 'POST',
            data: data,
            success: function(result) {
                window.location.replace('/dev/main/');
            },
        });
    });
});
</script>
{% endblock %}

